mixin footer()
  .footer.footer--home
    .frame-outer
      .container
        .footer__body
          h2 Приезжайте в гости!
          .row
            .col-md-6
              .footer__addr.
                Мы находимся по адресу: 172387,<br>
                Тверская обл., г. Ржев, ул. Гагарина, д.153
              a.footer__map.hidden-xs(href="#modalmap", type="button", data-toggle="modal", data-target="#modalmap", aria-expanded="false") Посмотреть на карте
              .footer__box.visible-sm.visible-xs
                h3.
                  По вопросам приобретения  продукции обращаться:
                .contacts-block
                  .contacts__name ООО "ПМЗ ЭРНСТА КЛЕЙНА"
                  a(href="mailto:sale@pmz-ek.ru") sale@pmz-ek.ru,&nbsp;
                  a(href="mailto:opt@pmz-ek.ru") opt@pmz-ek.ru
                .footer__phones
                  a.footer__tell.h2(href="tel:+79520937830") +7 952 093 78 30
                  a.footer__tell.h2(href="tel:+74823221672") (48232) 2-16-72
              .footer__info
                p.hidden-xs.
                  Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте на сообщение и мы обязательно ответим.
                button(class="btn btn-primary btn-lg", data-toggle="modal", data-target="#popupContacts", aria-expanded="false") Отправить сообщение
            .col-md-6
              .footer__box.hidden-sm.hidden-xs
                h3.
                  По вопросам приобретения  продукции обращаться:
                .contacts-block
                  .contacts__name ООО "ПМЗ ЭРНСТА КЛЕЙНА"
                  a(href="mailto:sale@pmz-ek.ru") sale@pmz-ek.ru,&nbsp;
                  a(href="mailto:opt@pmz-ek.ru") opt@pmz-ek.ru
                .footer__phones
                  a.footer__tell.h2(href="tel:+79520937830") +7 952 093 78 30
                  a.footer__tell.h2(href="tel:+74823221672") (48232) 2-16-72

    .footer__bottom
      .container
        .row
          .col-sm-6.text-left
            .footer__copyright Ржевпиво © 2013 - 2018
          .col-sm-6.text-right
            .footer__copyright Разработано студией
              a(href="http://holmax.ru", target="_blank") holmax.ru

