mixin footer()
  .footer
    .frame-outer
      .container
        .footer__body
          .row
            .col-md-6
              h3.
                По вопросам приобретения
                продукции обращаться:
              .footer__contacts
                .contacts-block
                  .contacts__name ООО "ПМЗ ЭРНСТА КЛЕЙНА"
                  a(href="mailto:sale@pmz-ek.ru") sale@pmz-ek.ru,&nbsp;
                  a(href="mailto:opt@pmz-ek.ru") opt@pmz-ek.ru
              .footer__phones
                a.footer__tell.h2(href="tel:+79520937830") +7 952 093 78 30
                a.footer__tell.h2(href="tel:+74823221672") (48232) 2-16-72
            .col-md-6
              .footer__info
                p.
                  Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте нам сообщение и мы обязательно ответим.
                button(class="btn btn-primary btn-lg", data-toggle="modal", data-target="#popupContacts", aria-expanded="false") Отправить сообщение

    .footer__bottom
      .container
        .row
          .col-sm-6
            .footer__copyright Ржевпиво © 2013 - 2018
          .col-sm-6
            .footer__copyright.text-right Разработано студией
              a(href="http://holmax.ru", target="_blank") holmax.ru
