mixin footer()
  .footer.footer--error
    .frame-outer
      .container
        .footer__body

    .footer__bottom
      .container
        .row
          .col-sm-6.text-left
            .footer__copyright Ржевпиво © 2013 - 2018
          .col-sm-6.text-right
            .footer__copyright Разработано студией
              a(href="http://holmax.ru", target="_blank") holmax.ru

