mixin map()
  <script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script src="dest/scripts/map.js" type="text/javascript"></script>
  .modal.fade#modalmap(tabindex="-1", aria-labelledly="Карта")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(class="close", type="button", data-dismiss="modal", aria-label="close")
            span(aria-hidden="true")
              img(src="dest/images/template/close-map.svg", alt="")
        .modal-body
          .home-map#map1
            //
