.description
  h4
    font-size 30px
    margin-top 40px
    margin-bottom 30px
.description__list
  list-style-type none
  padding-left 0
  li
    font-size 20px
    margin-bottom 15px
    strong
      color $brand-primary
      font-weight 400
    span
      margin-left 5px
  p
    font-size 20px
.description__head
  border-bottom 1px solid #EADFD7
  margin-bottom 30px
  h2
    color $brand-primary
    margin-bottom 25px

.description__back
  margin-bottom 30px
  a
    letter-spacing 0.1em
    text-transform uppercase
    font-size 14px
    font-weight 700
    font-family $font-family-ui
    text-decoration underline
    color #CBAB92
    &:hover
      text-decoration none
.product__subname
  font-size 20px
  margin-bottom 40px
  color $brand-primary
  @media screen and (max-width 767px)
    text-align center
    margin-bottom 20px
@media screen and (max-width 768px)
  .description__head
    margin-bottom 35px
    h2
      margin-bottom 30px
  .description__list
    li
      font-size 16px
  .description
    h4
      font-size 22px
      margin-bottom 20px
      margin-top 35px
    p
      font-size 16px