mixin description()
  .description
    .description__top
      .description__back.hidden-xs
        a(href="products.html") вернуться в каталог
      .description__head.hidden-xs
        h2 Эрнст Клейн
        .product__subname Темное фильтрованное пиво
      .description__body
        p.
          Приготовлено в лучших традициях предприятия с долгой и богатой историей. Имеет цвет темного янтаря и карамельный,     слегка горьковатый вкус. Несмотря на то, что это пиво является   самым последним достижением наших специалистов, оно уже удостоилось золотых и серебряных медалей на международных   конкурсах «Российские напитки» и «Гордость пивовара».
        h4 Состав
        p.
          Вода питьевая подготовленная, солод ячменный пивоваренный (светлый, карамельный), хмель, дрожжи пивные.
        h4 Характеристики
        ul.description__list
          li
            strong Алкоголь:
            span 4,2% об.
          li
            strong Этиловый спирт:
            span  4,7 мл/100 мл
          li
            strong Экстрактивность начального сусла:
            span 11,0%
          li
            strong Пищевая ценность:
            span углеводы - не более 4,6 г/100 г
          li
            strong Энергитическая ценность:
            span 42 ккал
          li
            strong Упаковка:
            span 0,5 л, 1 л, 1,5 л.