mixin contacts()
  .footer.footer--home
    .footer__body.contacts-content
      h2.visible-xs Приезжайте в гости!
      .row
        .col-md-6
          .footer__addr.
            Мы находимся по адресу: 172387,<br>
            Тверская обл., г. Ржев, ул. Гагарина, д.153
          a.footer__map.hidden-xs(href="#modalmap", type="button", data-toggle="modal", data-target="#modalmap", aria-expanded="false") Посмотреть на карте
          .footer__box.visible-sm.visible-xs
            h3.
              По вопросам приобретения  продукции обращаться:
            .contacts-block
              .contacts__name ООО "Новый день"
              a(href="mailto:89109383894@mail.ru") 89109383894@mail.ru,
              a(href="mailto:opt@ржевпиво.рф") opt@ржевпиво.рф
            .footer__phones
              a.footer__tell.h2(href="tel:+79109383894") +7 910 938 38 94
          .footer__info
            p.hidden-xs.
              Если у вас есть вопросы, мы готовы ответить на каждый. <br> Отправьте на сообщение и мы обязательно ответим.
            button(class="btn btn-primary btn-lg", data-toggle="modal", data-target="#popupContacts", aria-expanded="false") Отправить сообщение
        .col-md-6
          .footer__box.hidden-sm.hidden-xs
            h3.
              По вопросам приобретения  продукции обращаться:
            .contacts-block
              .contacts__name ООО "ПМЗ ЭРНСТА КЛЕЙНА"
              a(href="mailto:sale@pmz-ek.ru") sale@pmz-ek.ru,
              a(href="mailto:opt@pmz-ek.ru") opt@pmz-ek.ru
            .footer__phones
              a.footer__tell.h2(href="tel:+79520937830") +7 952 093 78 30
              a.footer__tell.h2(href="tel:+74823221672") (48232) 2-16-72