mixin fixedmenu()
  .navbar.fixed-menu.clearfix
    .container
      .pull-left
        a(href="/").fixed-menu__logo
          svg(width='100%', height='100%', viewbox='0 0 69 66', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M61.9 31.3c-1.1 2.3-.6 1.8-2.6 2.9 2.1 1.1 1.5.6 2.6 2.9 1.1-2.3.6-1.8 2.6-2.9-2-1.1-1.4-.6-2.6-2.9zM25.4.8c1.7 0 3 .3 4.3 1.1C30.7.4 32 0 33.8 0c2 0 4.2 1.4 4.2 3.9 0 .6-1 1.1-1.6.3-.5-.7-1.5-.9-2.1-.9-.6 0-1.6.4-1.6 1.3v22.8l1.3 2.2L44.7 8c.9-1.9 1.1-3.3.3-3.8-1.2-.7-2.3.5-2.8-.1-.5-.5 1.4-2.8 4-1.9 1.3.5 2 1.3 2.3 2.3 1.3-.3 2.5.3 3.5 1.4 1.6 1.8 1 4.4-.1 5.1-.6.5-1.6.6-2.1-.1-.5-.6-.2-1.5.5-2 .1-.1.3-.2.6-.3.5-.1.6-.8.3-1.1-.3-.4-1.4-1.5-3.3 2.1l-8.8 16.8 2 3.8c-2 .9-3.2 2.3-3.8 3.1l-.8-1.6-2.2 4c-.7-1-6.8-10.7-6.8-10.7V4.8c0-.6-.5-1.2-1.2-1.2-.5 0-1.1.4-1.2 1-.2.9-.9 1.6-1.9 1.6-1 0-1.9-.8-1.9-1.9.1-1.5 1.8-3.5 4.1-3.5z', fill='#B28867')
            path(d='M41.4 12.6l-2 4c-1.1-.2-2.2-.3-3.4-.3-.9 0-1.7 0-2.6.1v-4c2.7-.2 5.4-.1 8 .2zM48.6 25.8l.2.5 1.3 3.6c-1.3-.4-2.7-.6-4.2-.6h-.6l-.6-1.8-1.2 2.1c-.5.1-1 .3-1.5.4l-.9-1.6 3.8-6.4c.2-.4.6-.5.9-.5 1.1 0 3.7 1.7 4.5 2.5.3.3.4.5.5.7.2.4-.1.7-.4.7-.3 0-.8-.3-1.2-.3-.6 0-.7.3-.6.7zM19.9 25.1c-.4 0-.8.3-1.2.3-.3 0-.6-.2-.4-.7.1-.2.2-.4.5-.7.8-.8 3.4-2.5 4.5-2.5.3 0 .7.1.9.5 0 .1 10.7 16.7 10.7 16.7l2.2-3.6 1.6 2.9-4.3 7.6-11.7-17.2-4.2 14.8c-.5-.4-.9-.8-1.4-1.2l-.6-.6c.9-3.1 3.5-11.9 4.5-15.2.2-.8-.5-1.1-1.1-1.1z', fill='#B28867')
            path(d='M8.6 19h.2c1 0 1.9.7 1.9 1.6 0 .9-.8 1.6-1.9 1.6-.2 0-.5-.1-.7-.1-.6-.2-1.1.3-1.1.9 0 .6 1.5 3.1 5.6-.5 1.9-1.8 3.7-3.2 5.4-4.3 2.2-1.4 4.8-2.8 7.8-3.9l.9-.3v4c-2.7 1-4.9 2.2-6.7 3.4-1 .6-1.8 1.3-2.6 1.9-.8.6-1.4 1.3-2 1.9-1.1 1.2-1.8 2.2-2.3 2.9-1.1 2-.3 3.5.8 3.9.1 0 .1.2 0 .3-.3.2-1.1.7-2.2.5-2-.3-2.8-2.3-2.5-4.1-.2 0-.5.1-.7.1-1.9 0-3.6-2-3.6-4.7 0-2.6 2.2-5.1 3.7-5.1zM0 33.3c3.1-1.7 2.3-1 4-4.4 1.7 3.5.9 2.7 4 4.4-3.1 1.7-2.3 1-4 4.4-1.7-3.5-.9-2.8-4-4.4zM12.4 46.3c-4.1-3.5-5.5-1-5.5-.5s.4.9.9.9c.3 0 .5-.2 1-.2 1 0 1.9.7 1.9 1.6 0 .9-.8 1.6-1.9 1.6h-.1c-1.5 0-3.6-2.5-3.6-5s1.4-4.3 3.2-4.6c-.2-.6-.3-1.2-.3-1.9 0-1.2.6-4.1 4.4-4.1 1.4 0 2.4 1 2.4 1.6 0 .6-.7.9-1.2.9-.9 0-.8-1-1.4-1-.6 0-.7 1.8.5 3.9.8 1.4 1.7 2.7 3 4 1.1 1.1 2.7 2.4 4.6 3.6 1.8 1.1 4 2.2 6.5 3v4.3c-3.7-1.1-6.7-2.7-8.6-3.9-2.2-1-3.9-2.4-5.8-4.2z', fill='#B28867')
            path(d='M34.2 65.1c-2.7.3-3.8-1.3-3.8-1.3s-1.9 1.6-4.8 1.3c-2.2-.3-3.7-1.7-4.1-2.9v-.1c0-.1-.1-.2-.1-.3-.1-1 .6-1.9 1.7-2 1-.1 1.7.5 2 1.4.3.8.6 2.4 1.8 2 .4-.1.6-.8.6-1.5V37.3l5.1 7.6v14.8c0 1.7 1.1 2.5 2 2.5.6 0 1.2-.3 1.9-1 .6-.6 1.2-.6 1.3 0 .2 2.4-1.6 3.7-3.6 3.9z', fill='#B28867')
            path(d='M33.3 56v-4.3c.9.1 1.8.1 2.6.1 3.2 0 6.4-.6 9.3-1.8l2.4 4.5c-4.5 1.6-9.5 2.1-14.3 1.5z', fill='#B28867')
            path(d='M59.3 58.2c-1 2-2.9 2.9-4.4 2.4-.1.5-.2 1.1-.5 1.6-.4.8-1.4 2.2-3.2 2.2-2.1 0-3.4-1.4-3.4-2.4 0-.6.5-.9.9-.9.6 0 .9.5.9 1 0 .3 0 .6.3.7.5.3 2.1-1.7 1.2-3.5l-11.2-21c.5-1 1.7-2.4 4.1-2.5l10.8 20.1c1.6 2.2 3.1 1.1 3.3.8.2-.4 0-1.1-.5-1.2h-.1c-.2 0-.4-.1-.6-.2-.8-.4-1.2-1.3-.9-2.1.4-.7 1.3-1 2.2-.5 0 0 .1 0 .1.1 1.3.5 2 3.4 1 5.4z', fill='#B28867')
            path(d='M47.8 36.7c1.7.6 3.4 1.3 5.2 1.6l.9 2.4c-.3.5-.7 1-1.1 1.5-.7.8-1.4 1.5-2.2 2.2l-2.8-7.7z', fill='#B28867')
            path(d='M64.4 39.2c-.7 1.8-1.9 4.2-3.5 6.3-.6.7-1.2 1.5-1.8 2.1-.8.8-1.7 1.6-2.6 2.3-.9.7-1.8 1.3-2.8 1.9h-.1l-2.7-5c1.3-.9 2.4-2 3.5-3.2 1.2-1.4 2.1-2.9 2.8-4.5.3-.8.6-1.6.8-2.5.1-.3.1-.6.2-.9-.4.5-1 .9-2.2 1.1-2.9.6-6.1-.9-9.1-2-4.3-1.6-7.1 1-7.7 2l-1.4-2.7c.8-1 2.8-3.3 6.5-3.9 5.1-.8 10 2.5 12.3 2.5.7 0 1.4-.5 1.3-1.3-.2-.8-.5-1.5-.8-2.2-.7-1.6-1.7-3.1-2.9-4.5-2.3-2.8-5.4-4.9-8.5-6.3-.4-.2-.7-.3-1.1-.4l2.2-4.2c.3.1.5.2.8.2 1 .3 2 .7 3 1.2 1 .4 1.9.9 2.9 1.5.9.6 1.9 1.2 2.8 1.9.4.3.9.7 1.3 1.1l1.2 1.2c3.3 3.3 4.5 5.8 6.1 9.4.6 1.5 1.4 2.8 3.2 4-2.4 1.3-2.9 3-3.7 4.9z', fill='#B28867')

      .pull-right
        .fixed-menu__btn
          button.gamb(type="button", data-toggle="modal", data-target="#navmenu-mobile", aria-expanded="false")
            svg(width='100%', height='100%', viewbox='0 0 41 23', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M1.001 1h38m-38 9.8h38m-38 10.8h38', stroke='#B28867', stroke-width='2', stroke-miterlimit='10', stroke-linecap='round')


