.fixed-menu
  background-color $gray-base
  padding 15px 0
  max-height 96px
  margin 0
  .gamb
    border none
    background-color transparent
    display block !important
    width 38px
    height 20px
    padding 0
  .container
    width 1362px
  &__logo
    position relative
    right 50px
    display block
    width 68px
    height 65px
  &__btn
    position relative
    left 34px
    margin-top 22px
  &.affix
    top 0
    width 100%
    left 0
    z-index 100
    &+.page__body
      padding-top 96px
  @media screen and (max-width 1470px)
    &__logo
      width 50px
      height 53px
      right 40px
    &.affix
       &+.page__body
         padding-top 85px
  @media screen and (max-width 1429px)
    padding-left 0
    padding-right 0
    max-height 82px
    padding-top 14px
    padding-bottom 13px
    .container
      width 1190px
      margin-left auto
      margin-right auto
    &__logo
      width 50px
      height 53px
      right 53px
    .gamb
      width 32px
      height 17px
    &__btn
      left 42px
      margin-top 15px
    &.affix
       &+.page__body
         padding-top 82px
  @media screen and (max-width 1360px)
    &__logo
      width 40px
      right 45px
  @media screen and (max-width 1279px)
    .container
      padding-left 70px
      padding-right 70px
      width 100%

  @media screen and (max-width 991px)
    max-height 65px
    padding-top 5px
    padding-bottom 5px
    &.affix
       &+.page__body
         padding-top 65px