.about-ex
  background $brand-primary
  margin-top calc(422px / -1.7)
  margin-bottom calc(422px / -2)
  position relative
  max-width 1430px
  margin-left auto
  margin-right auto
  height 422px
  z-index 2
  h2
    margin-top 80px
    margin-bottom 45px
    color #fff
  p
    line-height 1.7
    color #fff
.page--about .footer
    padding-top 85px
.footer__box
  &.box--ex
    background-color #2E3045
    margin-top -60px
    left 0
    padding 18px 55px 45px 55px
    & *
      color $brand-primary !important
    p
      line-height 1.6
      max-width 90%
      margin-bottom 10px
    h3
      margin-bottom 18px
    .btn
      margin-top 20px
      font-size 18px
      text-transform uppercase
      padding 20px
      &:hover
      &:active
      &:focus
        color #fff !important
.about-ex--history
  max-width 950px
  height 353px
  margin-top calc(353px / -1.7)
  margin-bottom calc(353px / -2)
  padding 70px 65px
  h2
  p
  a
    color $gray-base
  h2
    margin-top 0
    white-space nowrap
    margin-bottom 30px
  p
    font-size 20px
  a
    margin-top 7px
@media screen and (max-width 991px)
  .footer__box.box--ex
    margin-top 0
  .about-ex
    height auto
    margin-bottom 0
    margin-top 0
    background-color #2E3045
