mixin about-ex()
  if attributes.class === "about-ex-outer"
    .about-ex.hidden-sm.hidden-xs
      .container
        .row
          .col-md-6.col-lg-6
            h2 Экскурсия на завод
            p.
              Мы рады сообщить, что проводим экскурсии на нашем заводе. Это прекрасная возможность познакомиться с технологиями приготовления пива и безалкогольных напитков, посетить производственные цеха, узнать историю предприятия, основанного в 1872 году, и продегустировать фирменную продукцию. Продолжительность экскурсии – около двух часов.
          .col-md-6.col-lg-6
            .footer__box.hidden-sm.hidden-xs.box--ex
              h3.
                Ждем вас в гости!
              p.
                Экскурсии проводятся для всех желающих в возрасте от 18 лет по предварительной записи.
              p.
                Время проведения экскурсий:<br> вторник – четверг, с 13:00 до 16:00.
              button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#popupEx", aria-expanded="false") записаться на экскурсию
    .about-ex.visible-sm.visible-xs
      .container
        .footer__box.box--ex
          h3.
            Ждем вас в гости!
          p.
            Экскурсии проводятся для всех желающих в возрасте от 18 лет по предварительной записи.
          p.
            Время проведения экскурсий: <br> вторник – четверг, с 13:00 до 16:00.
          button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#popupEx", aria-expanded="false") записаться на экскурсию
  else if attributes.class === "about-ex-history"
    .about-ex.about-ex--history
      .container
        h2 Историческое возвращение
        p.
          В 2016 году на предприятии проходит реорганизация. Спустя 143 года ОАО «Ржевпиво» возвращается к историческому названию: «Пиво-медоваренный завод Эрнста Клейна».

        a.link(href="about.html") о заводе