.about-ex {
  background: $brand-primary;
  margin-top: -248.23529px;
  margin-top: -248.23529px;
  margin-bottom: -211px;
  margin-bottom: -211px;
  position: relative;
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto;
  height: 422px;
  z-index: 2;
}
.about-ex h2 {
  margin-top: 80px;
  margin-bottom: 45px;
  color: #fff;
}
.about-ex p {
  line-height: 1.7;
  color: #fff;
}
.page--about .footer {
  padding-top: 85px;
}
.footer__box.box--ex {
  background-color: #2e3045;
  margin-top: -60px;
  left: 0;
  padding: 18px 55px 45px 55px;
}
.footer__box.box--ex * {
  color: $brand-primary !important;
}
.footer__box.box--ex p {
  line-height: 1.6;
  max-width: 90%;
  margin-bottom: 10px;
}
.footer__box.box--ex h3 {
  margin-bottom: 18px;
}
.footer__box.box--ex .btn {
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px;
}
.footer__box.box--ex .btn:hover,
.footer__box.box--ex .btn:active,
.footer__box.box--ex .btn:focus {
  color: #fff !important;
}
.about-ex--history {
  max-width: 950px;
  height: 353px;
  margin-top: -207.64706px;
  margin-top: -207.64706px;
  margin-bottom: -176.5px;
  margin-bottom: -176.5px;
  padding: 70px 65px;
}
.about-ex--history h2,
.about-ex--history p,
.about-ex--history a {
  color: $gray-base;
}
.about-ex--history h2 {
  margin-top: 0;
  white-space: nowrap;
  margin-bottom: 30px;
}
.about-ex--history p {
  font-size: 20px;
}
.about-ex--history a {
  margin-top: 7px;
}
@media screen and (max-width: 991px) {
  .footer__box.box--ex {
    margin-top: 0;
  }
  .about-ex {
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #2e3045;
  }
}
