.fixed-menu {
  background-color: $gray-base;
  padding: 15px 0;
  max-height: 96px;
  margin: 0;
}
.fixed-menu .gamb {
  border: none;
  background-color: transparent;
  display: block !important;
  width: 38px;
  height: 20px;
  padding: 0;
}
.fixed-menu .container {
  width: 1362px;
}
.fixed-menu__logo {
  position: relative;
  right: 50px;
  display: block;
  width: 68px;
  height: 65px;
}
.fixed-menu__btn {
  position: relative;
  left: 34px;
  margin-top: 22px;
}
.fixed-menu.affix {
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}
.fixed-menu.affix+.page__body {
  padding-top: 96px;
}
@media screen and (max-width: 1470px) {
  .fixed-menu__logo {
    width: 50px;
    height: 53px;
    right: 40px;
  }
  .fixed-menu.affix+.page__body {
    padding-top: 85px;
  }
}
@media screen and (max-width: 1429px) {
  .fixed-menu {
    padding-left: 0;
    padding-right: 0;
    max-height: 82px;
    padding-top: 14px;
    padding-bottom: 13px;
  }
  .fixed-menu .container {
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
  }
  .fixed-menu__logo {
    width: 50px;
    height: 53px;
    right: 53px;
  }
  .fixed-menu .gamb {
    width: 32px;
    height: 17px;
  }
  .fixed-menu__btn {
    left: 42px;
    margin-top: 15px;
  }
  .fixed-menu.affix+.page__body {
    padding-top: 82px;
  }
}
@media screen and (max-width: 1360px) {
  .fixed-menu__logo {
    width: 40px;
    right: 45px;
  }
}
@media screen and (max-width: 1279px) {
  .fixed-menu .container {
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .fixed-menu {
    max-height: 65px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .fixed-menu.affix+.page__body {
    padding-top: 65px;
  }
}
