.products-menu {
  border-bottom: 2px solid #ebe1d9;
  margin-top: 85px;
}
.products-menu__list {
  margin-bottom: 0;
  position: relative;
  display: table;
  top: 2px;
  text-align: justify;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.products-menu__item {
  display: inline-block;
  padding-bottom: 22px;
  padding-left: 70px;
  padding-right: 70px;
  display: table-cell;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
  cursor: pointer;
  position: relative;
}
.products-menu__item:before {
  content: "";
  background-color: transparent;
  position: absolute;
  width: 0px;
  height: 2px;
  left: 50%;
  bottom: 0;
  margin-left: -49px;
  margin-left: -49px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.products-menu__item.current:before {
  content: "";
  background-color: $brand-primary;
  height: 2px;
  width: 95px;
  bottom: 0;
  left: 50%;
  position: absolute;
  margin-left: -49px;
  margin-left: -49px;
}
.products-menu__item.current a {
  color: $brand-primary;
  -webkit-transition: ease 0.3s all;
  transition: ease 0.3s all;
}
.products-menu__item:hover:before {
  background-color: $brand-primary;
  width: 98px;
}
.products-menu__item:hover a {
  color: $brand-primary;
}
.products-menu__link {
  display: block;
  color: #7c7d8b;
  font-family: $font-family-ui;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.products-menu__link:hover {
  text-decoration: none;
  color: $brand-primary;
}
.products-loader {
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .products-loader {
    padding-top: 0;
  }
  .products-loader h2 {
    font-size: 30px;
    text-align: center;
  }
  .products-menu {
    border-bottom: 0;
    margin-top: 35px;
  }
  .products-menu__list {
    display: block;
  }
  .products-menu__item {
    display: block;
    text-align: center;
    border-bottom: 0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
  }
  .products-menu__item:after {
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #eadfd7;
  }
  .products-menu__item.current {
    border-bottom: 0;
  }
  .products-menu__item.current:after {
    background-color: $brand-primary;
  }
  .products-menu__item:last-child {
    margin-bottom: 0;
  }
  .products-menu__link {
    font-size: 14px;
  }
}
