mixin header-about()
  .header__content
    .header__head
      h1 Пиво-медоваренный завод Эрнста Клейна
    .header-links
      ul.list-unstyled
        li
          a(href="#tech") технологии
        li
          a(href="#medals") награды
        li
          a(href="#excursion") экскурсии