.header--home.header--about
  background url('../images/template/header-about.jpg') center 0 no-repeat
  background-size cover
  .header-menu
    .header-links
      margin-top 55px
      ul
        display block
        li
          display block
          margin-bottom 45px
          a
            padding-bottom 0
            font-size 18px
            &:focus
              text-decoration none
    .header__head
      margin-top 40px
    .header__decor
      height 88px