@import 'nib';
@import 'fonts';
@import 'bootstrap';

@import '/../modules/**/*.styl'

body
  background $body-bg url($body-bg-pattern) 0 0 repeat

.frame-outer
  width 1362px
  margin-left auto
  margin-right auto
  border-left 1px solid $brand-primary
  border-right 1px solid $brand-primary

  @media screen and (max-width 1429px)
    width 1215px
  @media screen and (max-width 1279px)
    border-left 0px
    border-right 0px
    width 100%
.page__header
  position relative
.page__body
  padding-top 0px
.page
  &--home
    overflow hidden
  &--about
    .footer__contacts
      margin 45px 0 35px
#navmenu-mobile
  .modal-dialog
    position absolute
    min-height 100%
    top 0 !important
    right 0 !important
    left auto !important
    margin-top 0
  .modal-content
    background-color #F3EDE9 !important
    text-align right
    height 100vh
  &.modal.fade
    .modal-dialog
      transform translate(100%, 0) !important
  &.modal.in
    .modal-dialog
      transform translate(0%, 0) !important
  @media screen and (max-width 767px)
    top 35px
    right auto
    left 50%
    transform translateX(-50%) !important
    width 80%
    height 494px

    .close
      width 18px
      height 18px


  .modal-header
    border none
    max-width 61%
    margin-left auto
    margin-right auto
    padding-top 155px
    @media screen and (max-width 767px)
      max-width 100%
      padding 10px
  .modal-content
    box-shadow none
    background-color transparent
    border none
  .modal-body
    text-align right
  ul
    list-style-type none
    padding-left 0
    max-width 61%
    margin-left auto
    margin-right auto
    @media screen and (max-width 767px)
      max-width 80%
      text-align center
      li
        a
          text-align center
        &:after
          right auto
          left 50%
          transform translateX(-50%)
        &:first-child
          margin-top 20px
    li
      position relative
      margin 64px 0 116px
      a
        font-family $headings-font-family
        color $gray-base
        font-size 52px
        line-height 40px
        @media screen and (max-width 768px)
          font-size 32px
        &:focus
          background-color transparent
      &:after
        content ""
        height 1px
        width 49px
        background-color $brand-primary
        display block
        position absolute
        right 10px
        bottom -55px
      &:last-child
        &:after
          content none

.product
  padding-top 25px
  position relative
  h2
  h4
    color $brand-primary
  &:before
    content url('../images/template/product_vensel_left.svg')
    position absolute
    background-position 0 0
    background-repeat no-repeat
    width 244px
    height 275px
    background-size contain
    top -215px
    left -90px

  &:after
    content url('../images/template/product_vensel_right.svg')
    position absolute
    background-position 0 0
    background-repeat no-repeat
    width 244px
    height 275px
    background-size contain
    top -215px
    right -55px

  &__footer
    margin-top 150px
  @media screen and (max-width 1429px)
    &:before
      left -20px
    &:after
      right 10px
   @media screen and (max-width 1280px)
    &:before
    &:after
      content none

@media screen and (max-width 767px)
  .product__name
    color $brand-primary
    text-align center
    font-size 30px
  .products-head
    font-size 40px
  .page-header
    margin-bottom 35px
  .product__img
    text-align center
  .product__footer
    // display none
  .navigation
    padding-bottom 75px
    border 0
    a
      font-size 15px
      position relative
      width 50%

      &:before
      &:after
        position absolute
    &__left
      float left
      &:before
        left 0
        bottom -50px
    &__right
      float right
      &:after
        right 0
        bottom -50px

  .btn
    padding 15px 30px

  .page__content
    margin-top 40px
.products__listing
  margin-top 100px
  @media screen and (max-width 767px)
    margin-top 10px

button
a
  &:focus
    outline none
#modalmap
  .modal-dialog
    width 1010px
    height 615px
    top 50%
    left 50%
    transform translate(-50%, -50%)
    margin-left 0
    @media screen and (max-width 1279px)
      width 750px
      height 500px
    @media screen and (max-width 767px)
      width 90%
      height 400px
      margin-top 50px
  .home-map
  .modal-body
  .modal-content
    width 100%
    height 100%
    padding 0
  .modal-body
    border 6px solid #956A4A
  .ymaps-map
    height 100% !important
    width 100% !important
  .modal-header
    position absolute
    border-bottom 0
    top -40px
    right -40px
.page--history
  .footer
    padding-top 0px
  .about-slider
    height 840px
  .footer__body
    padding-top 305px
    padding-bottom 95px
*
  &::selection
    background wheat
    color $gray-base
.page--error
.page--plus18
  background #2F3146 url('../images/template/err-page-bg.png') center 60px no-repeat
  .header--dark
    background none
    height 290px
    @media screen and (max-width 767px)
      height 160px
      .header-menu
        top 0 !important
        .header-logo
          top 27px
  @media screen and (max-width 991px)
    background #2F3146 url('../images/template/err-page-bg-xs.png') center 60px no-repeat
    background-size cover
  .header-menu
    top 156px
    height 188px
  .footer__body
    padding-top 0
    padding-bottom 60px
  .page__content
    margin-top 0
    margin-bottom 0
  h1
    font-size 400px
    color #2F3146
    text-shadow 2px 2px 0px #0E0F15, 0px 2px 0px #0E0F15, 2px 0px 0px #0E0F15, -2px -2px 0px #0E0F15, 0px -2px 0px #0E0F15, 0px -2px 0px #0E0F15
    margin-bottom 30px
    @media screen and (max-width 767px)
      font-size 200px
  p
    color #fff
    font-size 20px
    @media screen and (max-width 767px)
      font-size 14px
    a
      color #fff
      text-decoration underline
      &:hover
        text-decoration none
.footer--error
  background none
.page--plus18 h1
  text-shadow none
  @media screen and (max-width 767px)
    line-height 42px !important
.page--error
  @media screen and (min-width 1500px)
    height 100vh
  .contacts-content
    padding-top 50px
    padding-bottom 40px
    .btn
      font-size 20px
      padding 20px 40px
      width 383px
      text-transform uppercase

      @media screen and (max-width 767px)
        width 100%
        max-width 280px
        font-size 14px
    .footer__box
      padding-top 25px
  .footer
    background none
  .header-menu
    .header-logo
      top -97px
      @media screen and (max-width 1500px)
        top -117px !important
      @media screen and (max-width 1279px)
        top -130px !important
      @media screen and (max-width 767px)
        top 27px
.product
  margin-bottom 50px
.page--plus18
  position fixed
  padding-top 30px
  width 100%
  height 100%
  z-index 1000
  left 0
  top 0
  .page__content
    padding-top 55px
    padding-bottom 90px
  h1
    color #fff
    font-size 80px
    max-width 720px
    margin-left auto
    margin-right auto
    line-height 100px
    @media screen and (max-width 991px)
      font-size 32px
      line-height 42px
  .btn
    color #fff
    border-color transparent
    &:hover
      color $brand-primary !important
      background-color transparent
      border-color $brand-primary
  .group-btns
    text-align center
    margin-top 90px
    .btn
      margin 0 10px
  .header--dark
    background-color transparent !important
  @media screen and (max-width 1500px)
    padding-top 0px
    .page__content
      padding-top 0
      padding-bottom 20px
    h1
      font-size 66px
      line-height 78px
    .group-btns
      margin-top 50px
    .frame-outer
      width 1214px
    .header-menu .header-logo
      top -115px

  @media screen and (max-width 1279px)
    .frame-outer
      width 100%
    .header-menu
      .header-logo
        top -110px !important


  @media screen and (max-width 991px)
    h1
      font-size 32px
      line-height 32px
  @media screen and (max-width 767px)
    .header-menu
      .header-logo
        top 27px !important

// hooks-huyuks
@media screen and (min-width 1429px) and (max-width 1500px)
  .header--home .header-menu
    height calc(100% - 150px)
.page.page--products .header-menu .header-logo
  top -127px !important
  @media screen and (max-width 1500px)
    top -112px !important
.page.page--products
  .page__content
    margin-top 15px
  .page-header
    margin-bottom 70px
  .products-menu
    margin-top 78px
  .products-menu__item
    padding-bottom 14px
  .products__listing
    margin-top 140px
  .description__head
    margin-bottom 30px
  .product
    &:before
    &:after
      top -160px
@media screen and (max-width 1279px)
  .page.page--products
    .header-menu__left
    .header-menu__right
      top 20px

@media screen and (min-width 1279px) and (max-width 1500px)
  .page.page--products
    .header
      height 308px

@media screen and (max-width 1500px)
  .page--about
    h2
      font-size 46px
    p
      font-size 18px
  .header--home.header--about .header-menu .header__head
    margin-top 35px
  .header--home.header--about .header-menu .header-links
    margin-top 50px
  .header--home.header--about .header-menu .header-links ul li
    margin-bottom 25px
  .about-block .container
    padding-left 150px
  .about-block p
    line-height 1.7
    max-width 85%
  .page--about h2
    margin-bottom 35px
  .about-block .container:before
    left -15px
  .about-block
    padding 125px 0 65px
  .about-carousel-content .container
    width 905px
  .about-carousel .owl-nav
    padding 0 25px 0 25px
    top 60px
  .about-slider
    height 850px
  .about-ex
    height 400px
    max-width 1310px
  .footer__box.box--ex
    left 55px !important
    margin-top -98px
  .page--about .about-slider-outer + .about-ex .row>div:first-child  h2
  .page--about .about-slider-outer + .about-ex .row>div:first-child  p
    margin-left 45px
    .col-lg-5
      h2
      p
        padding-left 70px
  .about-ex h2
    margin-top 65px
  .about-ex p
    line-height 1.6
@media screen and (max-width 1279px)
  .page.page-about
    .about-slider-outer
      .frame-outer
        display none
@media screen and (max-width 1200px)
  .footer__box.box--ex
    left 0 !important

@media screen and (max-width 991px)
  .about-carousel-content .container
    width auto
  .header-menu.frame-outer
    height 100%
  .footer__box.box--ex
    margin-top 20px
  .page.page--about
    .footer__body
      padding-top 0
    .footer
      padding-top 50px
    .box--ex
      padding-left 0
      padding-right 0
      padding-bottom 0
      height auto !important
    .about-carousel + .about-ex
      height auto
      padding 70px 0
      background-color #B28867 !important
        .box--ex
          background-color inherit
          & *
            color #fff !important
    .about-slider
      height 500px

    .about-slider-outer
      .owl-dots
        left 20px
        top 22px
        .owl-dot
          span
            width 6px
            height 6px
      .owl-nav
        padding 0 20px
        top 62px
        button
          background-repeat no-repeat
          width 10px
          height 18px
          span
            display none
        .owl-prev
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAA9CAYAAADMMmuxAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIHSURBVHgBxZkvUwMxEMU3DAMGDDgUipq6KjBUgaGflqqqoqqqUKBwKFQxPXPs3uWY6zXJ5d9u3sxNO2k7v9d9bS7ZKBBWXddTfJjhVeG1UiAohM80vNNOzIAB3kjEgA2O2p4AsxB+Z4MrpbasFdDwOVjg9ITNgA+cxBKBA/7eh7MYcMA/EL4ZDmaNYAT+ZvpMtgog/Aof7iEATspSAQ1f4HUeAs9iIAVOSorAAf/ygScZcMB/8PKCk6IiGIEv8dvvwVPBFUD4RS54sIHccJJ3BD34ZS64twEuOGk0Agd8B7SmS4CTVAKcvvkOEqVKwq0GpOBGA5LwIwPS8AMDJeD/BkrBGwMl4SSaiB5KwTsDt4bxtQS8M/BtGJ/raEQMrKEteV8UyULCRPcvIOALmH8LrxjHLzCpPw8UMTGcCcVNmO4FoiZsd0MxE671gIiJsRURuwnnmlDPhkswzxPPaPAMEuW7KrZVglbFVIkKIhWyL2Ax4b0z6sUxXIZfQzttR8URtDXjMBG7OyYgxWHaIwbFEdUfQECzJQNzJZ4gQNENCoeJG6zQI3gqR4/IFodXjyhXlyzaRJY+oY5jY3hpMhZH8U5p9m55qInszWqEfEK70B1qok9ODt8PTPI9Lyh+YsJ6ZqTjMP07Zl0cpU/NNqXPDSv2Y7tOOvPtYHh/CoIiE1gJejrVQ6s/XEc+KT51WWQAAAAASUVORK5CYII=') !important
        .owl-next
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAATCAYAAACp65zuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEjSURBVHgBhdIxVoNAEADQ2eU989J5hBxBbyC9PsMNsIF00pImm0boSKdJxwl4wgE4QnKEHIEO43vZcXYNEbOLbsPM278DOwMrktnEYZgdP8ZPnlg1MLA4B6wRYcqv2roQ0fUglADvOmJw44zabBB68TqSgLlKEMAv08CKWReUSVgTvNOnAcVDvFn+qtgFx8PBo8dOxRKYqJJgYa2oluqAuhyFE5U7yP37+WtuwL+wAX+w3FId1a5GSulaocYvwZQzVpzSxl6RGs9H7bZ7PbVvya2IptRHXrwRBtTToSn1kXHrMg0zmnt0Qjkhv9s7wyqZLWhTn6ZZ7h7n69t+EW4ggL38HLuXn8SqNHyWCKszAuZ68dv+EnKJvUoD6BvSn/YfUusLPIuGiwyAD/YAAAAASUVORK5CYII=') !important
      .frame-outer
        display none
    .about-block
      padding 65px 0 65px 0
      .container
        padding-left 20px
        h2
          line-height 1.5
          margin-bottom 25px
        &:before
          content url('../images/template/about-block-vensel-sm.svg')
          background-size cover
          width 197px
          height 225px
          left 20px
          top -30px
    .about-carousel
      .about-carousel-item
        margin-left auto
        margin-right auto
        text-align center
        img
          max-width 70%
    .about-ex h2
      margin-top 0
  .history-row--1950
    p
      max-width 100%
@media screen and (max-width 767px)
  .page.page--about
    .about-slider
      height 209px
    h2
      font-size 26px
    p
      font-size 16px
    .header--home .header-menu .header__content
      padding-top 213px
    .header--home.header--about .header-menu .header-links
      margin-top 40px
    .header--home.header--about .header-menu .header-links ul li
      margin-bottom 15px
    .about-carousel-wrapper
      height 510px
      padding-top 170px
    .about-carousel
      padding 70px 0 50px
    .about-carousel:before
      width 1030px
      background-size cover
      left 50%
      transform translateX(-50%)
      height 120px
      bottom 70px
    .about-carousel-content
      top 50px
    .about-ex
      padding 0px 0 80px
    .about-ex + .about-ex
      h3
        margin-bottom 25px
      p
        margin-bottom 25px
      .btn
        margin-top 10px
        font-size 14px
    .footer
      h3
        font-size 24px
        line-height 1.4
        margin-bottom 10px

    .footer__contacts
      margin-top 20px
      margin-bottom 0
      .contacts-block
        font-size 16px
        a
          display block
    .footer__phones
      margin-top 10px
      .footer__tell
        line-height 42px
        font-size 32px
  .page.page--products
    .footer
      h3
        font-size 24px
        line-height 1.4
        margin-bottom 10px

    .footer__contacts
      margin-top 20px
      margin-bottom 0
      .contacts-block
        font-size 16px
        a
          display block
    .footer__phones
      margin-top 10px
      .footer__tell
        line-height 42px
        font-size 32px
@media screen and (min-width 1429px) and (max-width 1500px)
  .page--about .footer
    padding-top 58px
@media screen and (min-width 768px) and (max-width 991px)
  .about-carousel-wrapper
    height 380px
@media screen and (max-width 1200px)

  .page--history
    .history-all .frame-outer
      padding-top 0
      padding-bottom 40px
    .type-c
      text-align left
      position static !important
      font-size 72px
    .history-row--1872 .history__first
      top 0
      margin-top 20px
    .history-row--brewery #parallax-bg-1
      display none
    .history-row--brewery
    .history-row--1895-2
    .history-row--1895-1
    .history-row--1895-1__p-right
    .history-row--1895-2 blockquote
    .history-row--1917
    .history-row--1917 .text-primary
    .history-row--1917__img
    .history-row--1941
    .history-row--1950
    .history-row--1980
    .history-row--1990
    .history-row--2000
    .history-row--last
    .history-row--1927
      margin-top 40px
    .history-row--1917 .text-primary
    .history-row--1941 .type-c
    .history-row--1950 .type-c
    .history-row--1980 .type-c
    .history-row--1990 .type-c
    .history-row--1970 .history__slider
    .history-row--2000 h2
    .history-row--2000 p
    .history-row--1941 .history__slider
    .history-row--1895-2
    .history-row--1895-2 blockquote
      margin-left 0
    .history-row--1970
    .history-row--1980
      margin-top 80px
      h2
        margin-bottom 40px
    .history-row--1990
      margin-top 10px
      .type-c
        margin-bottom 0px
      h2
        margin-top 20px
    .history-row--1970 .type-c
      margin-right 0
      margin-bottom 0px
    .history-row--1895-1 h2
    .history-row--1917 h2
    .history-row--1970 h2
      margin-top 20px
    .history-row--1980 .type-c
      margin-bottom 10px
    .history-row--1980 h2
    .history-row--1917__img
      position static
    .about-ex
      height auto
    .header__decor
      display none
    .portrait
      max-width 280px
    .history-row--1950 .history__slider
    .history-row--1970 .history__slider
      min-width 0
    .history__slider
      .history__item
        img
          max-width 100%
          height auto
      .owl-nav
        width 100%
        height 100%
        z-index 2
        button
          width 7px
          height 12px
          background-size cover
        .owl-prev
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAATCAYAAABGKffQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEkSURBVHgBhZKxTsMwEIbv7AGxZWTsI7RvQHaG+gkIA6VsZUFqGRqWRmJiA7UD7RNEouzlDcgjdGXrSEG549ykUtLayj/YPvm70/32ITRomfTHxNyl39NQN4LAMSCcsf77xkaw0JoAQyf8Mbm9zJHmVdAMX9dHcPp03Va5+joEbVCD06TfUkACYgDAG9IcmvtZtr/HOsgrObZsTJo6VdBKOUHAq0NwB6fxIKiD/Cg9zsEhBSc/3T0ofWZmOI3BI2WrSLVFaaH9nty8eWG7SLVInH7uagNEy6Q39sJW+XZrZMtKg7ErwfHOFbPMd2Y0fXbCrgTNKroYvSycsCNhQ0SheZhl3qkrZgRXxddLAmBH+WD7gyQvW4aBuD6HJklLUTrpDez5H1dKiuCQDMDGAAAAAElFTkSuQmCC') !important
          left 20px
        .owl-next
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAATCAYAAACp65zuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEjSURBVHgBhdIxVoNAEADQ2eU989J5hBxBbyC9PsMNsIF00pImm0boSKdJxwl4wgE4QnKEHIEO43vZcXYNEbOLbsPM278DOwMrktnEYZgdP8ZPnlg1MLA4B6wRYcqv2roQ0fUglADvOmJw44zabBB68TqSgLlKEMAv08CKWReUSVgTvNOnAcVDvFn+qtgFx8PBo8dOxRKYqJJgYa2oluqAuhyFE5U7yP37+WtuwL+wAX+w3FId1a5GSulaocYvwZQzVpzSxl6RGs9H7bZ7PbVvya2IptRHXrwRBtTToSn1kXHrMg0zmnt0Qjkhv9s7wyqZLWhTn6ZZ7h7n69t+EW4ggL38HLuXn8SqNHyWCKszAuZ68dv+EnKJvUoD6BvSn/YfUusLPIuGiwyAD/YAAAAASUVORK5CYII=') !important
          right 20px !important

    .history-row--1970 h2
      min-width 0
    .history-row--last
      p
        font-size 26px
    figcaption
      font-size 14px
    .history-row--1895-2 .history__slider
      margin-left auto
      margin-right auto
      max-width 100%
    .history-row
      [class^="col-"]
        [class^="col-"]
          padding 0
    blockquote
      p
        font-size 20px !important
        line-height 1.4 !important
    .history-row--1941
      .type-c
        margin-bottom 25px
      h2
        margin-bottom 20px
      .history__slider
        margin-top 45px
    .type-c
      white-space nowrap
    .about-slider-outer
    .about-ex
      display none !important
    .about-ex--history
      background-color #B18767
      display block !important
      padding 70px 10px 80px !important
      p
      h2
        white-space normal
      h2
        margin-bottom 33px
        line-height 1.2
      a
        font-size 16px
        margin-top 0
@media screen and (max-width 767px)
  #navmenu-mobile
    overflow hidden
    width 100%
    left 0
    transform translateX(0) !important
    .modal-dialog
      min-width 280px
      left 50% !important
      right auto !important
      transform translateX(-50%) !important
    .modal-header
      .close
        margin-top 0 !important
        margin-right 0 !important
        img
          max-width 100%
          height auto
  #navmenu-mobile.modal.fade.in .modal-dialog
    transform translateX(-50%)  !important
  #navmenu-mobile
    max-width 100%
    .modal-header .close
      margin-top 40px
      margin-right 40px
  .page--history
    .header__content
      padding-top 180px !important
    .header-menu .header__head
      margin-top 25px !important
    .header-menu .header__decor
      display block
      height 160px !important
      &:before
        content "" !important
        display block
        width 7px
        height 7px
        position absolute

    .header__head
      &:before
        display none
  #navmenu-mobile ul li
    margin-bottom 65px
    &:after
      bottom -35px
@media screen and (min-width 992px)
  .about-ex--history
    .container
      width auto
@media screen and (max-width 1500px)
  .about-ex--history
    max-width 950px
    h2
      margin-top 0

@media screen and (max-width 1500px) and (min-width 1200px)
  .about-ex--history
    margin-top -200px
    margin-bottom -200px
@media screen and (max-width 1500px) and (min-width 1429px)
  .page--history
    .footer
      padding-top 0
@media screen and (max-width 1500px) and (min-width 1279px)
  .page__header
    .header
      height 308px
.page.page--error
  .header.header--dark
    background-color transparent !important

@keyframes slideInLeft
  from
    transform translate3d(-100%, 0, 0)
    visibility visible
  to
    transform translate3d(0, 0, 0)
.slideInLeft
  animation-name slideInLeft
@keyframes slideInRight
  from
    transform translate3d(100%, 0, 0)
    visibility visible
  to
    transform translate3d(0, 0, 0)
.slideInRight
  animation-name slideInRight


@keyframes fadeOut
  from
    opacity 1

  to
    opacity 0

@keyframes scrolldown
  0%
    height 100px
  50%
    height 60px
  100%
    height 100px


.fadeOut
  animation-name fadeOut
.modal .modal-dialog
  top 50% !important
  left 50%
  margin 0
  transform translate(-50%, -50%) !important
.modal.in .modal-dialog
  top 50% !important
  left 50%
  transform translate(-50%, -50%) !important
  margin 0
.history-all
  .header__decor
    animation none
.page--about
  .footer__box.box--ex
    left 95px
.page--products
  .header-menu__left
    padding-left 20px !important
    display block
    @media screen and (max-width 1279px)
      ul
        display none
    .back-cat
      text-align left
      font-size 12px
      font-family $font-family-ui
      text-transform uppercase
      letter-spacing 0.16em
      position relative
      z-index 2
.header--about
  .header__head
    max-width 80%
    margin-left auto
    margin-right auto
@media screen and (max-width 767px)
  .home-content__section--one h2
    max-width 80%
  .fixed-menu__logo
    width 44px
  .history-row--1917 p
  .page.page--about p
    max-width 100%
  .page--history blockquote p
    line-height 1.6 !important
  .footer__box.box--ex .btn
    padding 14px 20px
  .page.page--about .footer .footer__info p
    display none
  .page.page--history
    .footer
      .footer__body > h2
        margin-top 0
      .footer__addr
        margin-top 0
      .footer__body
        padding-bottom 0
    .owl-theme .owl-nav [class*='owl-']:hover
      background-size cover
  .page.page--products .products__listing
    margin-top 60px

  .description__body
    margin-top 20px
  .product__footer
    margin-top 40px
  .product__name
    line-height 1.2
    margin-bottom 25px
  .product
    padding-top 0
  .footer--error
    .footer__body
      padding 0

@media screen and (min-width 320px) and (max-height 940px)
  .page--error
    height auto

#navmenu-mobile .modal-header .close
  margin-right 110px
  margin-top 50px
#navmenu-mobile .modal-header
  padding-top 0
  display table-row
#navmenu-mobile .modal-content
  display table
  width 100%
#navmenu-mobile .modal-body
  display table-row