<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1, width=device-width",  id="viewport-meta")

		title Ржевское пиво
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Alegreya+Sans:700&amp;subset=cyrillic")
		link(rel="stylesheet", href="dest/styles//vendor/jquery.custom-scroll.css")
		link(rel="stylesheet", href="dest/styles//vendor/owl.carousel.min.css")
		link(rel="stylesheet", href="dest/styles//vendor/owl.theme.default.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css")
		link(rel="stylesheet", href="dest/styles/main.css")
	body
		block content

		block scripts
			script(src="dest/scripts/vendor/jquery.min.js")
			script(src="dest/scripts/vendor/bootstrap.min.js")
			script(src="dest/scripts/vendor/jquery.custom-scroll.min.js")
			script(src="dest/scripts/vendor/owl.carousel.min.js")
			script(src="dest/scripts/vendor/jquery.drawsvg.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
			script(src="https://cdn.jsdelivr.net/npm/paroller.js@1.4.2/dist/jquery.paroller.min.js")
			script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
			script(src="dest/scripts/main.js")