mixin 18-plus()
  .frame-outer
    .container
      article.page__content
        h1.
         Сайт предназначен
         для лиц старше 18 лет
        .group-btns
          button(class="btn btn-lg btn-primary js-close18") мне есть 18
          button(class="btn btn-lg btn-primary") покинуть сайт
