mixin error-page()
  .frame-outer
    .container
      article.page__content
        h1 404
        p.text-center.
          Страницы, которую вы ищете, не существует. <br>
          Перейти <a href="home.html">на главную страницу</a>
