.home-content__process
  background url('../images/content/illustration.png') 0 0 no-repeat
  background-size contain
  position absolute
  height 2142px
  width 1903px
  overflow hidden
  top -85px
  left -360px
  z-index 1
.home-content__section--one
  margin-bottom 438px
  padding-top 32px
.home-content__section--two
  margin-bottom 273px
.home-content__section--three
  margin-bottom 141px
  margin-left 195px
.home-content__section
  position relative
  z-index 2
  h2
    line-height 64px
    margin-bottom 43px
  p
    line-height 29px
    margin-bottom 52px
  .btn.btn-lg
    font-size 20px
    text-transform uppercase
    padding 22px 60px
    min-width 360px
  @media screen and (max-width 1279px)
      h2
          font-size 42px
          line-height 50px
  @media screen and (max-width 767px)
      .btn.btn-lg
          font-size 14px
          padding 15px  40px
          min-width 282px
@media screen and (max-width 991px) and (min-width 768px)
  .home-content__section--one
    margin-bottom 0px
    padding-top 0px
    .home-content__text
      margin-top -345px
  .home-content__section--two
    margin-bottom 0px
    .home-content__img
      position relative
      margin-top 20px
      right 20px
    .home-content__text
      padding-top 40px
  .home-content__section--three
    margin-bottom 0
    margin-left 0
    .home-content__img
      position relative
      top -76px
      right 50px
    .home-content__text
      margin-top -150px
      .home-content__img
        top 40px
        right 101px
  .home-content__img
    text-align center
  .home-content__section--one
    .home-content__img
      position relative
      right 0px
      top -80px
      padding-top 0px
  .home-content__section
    .home-content__text
      padding-left 80px
      max-width 80%
    h2
      font-size 46px
      line-height 58px
    p
      font-size 20px
      line-height 32px
    .btn.btn-lg
      padding 20px 40px
  .page--home
    .page__content
      margin-top 0
      padding-bottom 315px

@media screen and (max-width 767px)
  .home-content__section--one
    padding-top 0
    margin-bottom 60px
  .page--home
    .page__content
      margin-top 0
      padding-bottom 73.5px
  .home-content__img
    position relative
    top -20px
    left -10px
  .page__body
    overflow hidden
  .home-content__section
    h2
      font-size 26px
      line-height 38px
      margin-bottom 25px
    p
      font-size 16px
      line-height 26px
      &:last-of-type
        margin-bottom 31px
  .home-content__section--one
    .home-content__text
      margin-top -206px
  .home-content__section--two
    margin-top 0
    margin-bottom 0
    .home-content__text
      margin-top 36px
  .home-content__section--three
    margin-top 110px
    margin-bottom 0
    margin-left 0
    h2
      margin-top 55px
    .home-content__img
      margin-top 0px
    .home-content__text
      .home-content__img
        margin-top 70px