mixin home-content()
  .home-content__process.hidden-sm.hidden-xs
  .home-content__section.home-content__section--one
    .row
      .col-sm-12
        .home-content__img.hidden-lg.hidden-md.hidden-xs
          img(src="dest/images/content/ill-1-sm.png", alt="")
        .home-content__img.visible-xs
          img(src="dest/images/content/ill-1-xs.png", alt="")
      .col-md-6.col-md-offset-6.col-sm-12
        .home-content__text
          h2.
            Пиво-медоваренный
            завод Эрнста Клейна
          p.
            В 1872 году Эрнст Михайлович Клейн основал во Ржеве пиво-медоваренный завод. Больше 140 лет местные пивовары продолжают его дело, бережно сохраняя традиции пивоварения, потчуют земляков и гостей города своими напитками.
          a.btn.btn-primary.btn-lg(href="products.html") Познакомиться ближе
  .home-content__section.home-content__section--two
    .row
      .col-sm-12
        .home-content__img.hidden-lg.hidden-md.hidden-xs
          img(src="dest/images/content/ill-2-sm.png", alt="")
        .home-content__img.visible-xs
          img(src="dest/images/content/ill-2-xs.png", alt="")
      .col-md-6.col-sm-12
        .home-content__text
          h2.
            Проверенная рецептура,
            современная технология
          p.
            Для приготовления пива мы используем только натуральное сырье: солод, хмель, чистую воду и дрожжи, поэтому наша продукция обладает таким насыщенным вкусом и цветом. Собственная производственная лаборатория отслеживает весь технологический процесс, контролирует качество сырья и готовой продукции.
          a.btn.btn-primary.btn-lg(href="products.html") Узнать о заводе
    .home-content__img.hidden-lg.hidden-md
  .home-content__section.home-content__section--three
    .row
      .col-sm-12
        .home-content__img.hidden-lg.hidden-md.hidden-xs
          img(src="dest/images/content/ill-3-sm.png", alt="")
        .home-content__img.visible-xs
          img(src="dest/images/content/ill-3-xs.png", alt="")
      .col-md-6.col-md-offset-6.col-sm-12
        .home-content__text
          h2.
            Разнообразный
            ассортимент
          p.
            Завод производит восемь видов пива и порядка 20 наименований прочей продукции: медовуху, квас живого брожения, безалкогольные напитки, минеральную и питьевую воду высшей категории.
          a.btn.btn-primary.btn-lg(href="products.html") Перейти в каталог
          .home-content__img.visible-xs
            img(src="dest/images/content/ill-4-xs.png", alt="")
          .home-content__img.visible-sm
            img(src="dest/images/content/ill-4-sm.png", alt="")