.products-menu
  border-bottom 2px solid #EBE1D9
  margin-top 85px
  &__list
    margin-bottom 0
    position relative
    display table
    top 2px
    text-align justify
    width auto
    margin-left auto
    margin-right auto
  &__item
    display inline-block
    padding-bottom 22px
    padding-left 70px
    padding-right 70px
    display table-cell
    transition ease 0.3s all
    cursor pointer
    position relative
    &:before
      content ""
      background-color transparent
      position absolute
      width 0px
      height 2px
      left 50%
      bottom 0
      margin-left calc(98px / -2)
      transition all ease 0.3s
    &.current
      &:before
        content ""
        background-color $brand-primary
        height 2px
        width 95px
        bottom 0
        left 50%
        position absolute
        margin-left calc(98px / -2)
      a
        color $brand-primary
        transition ease 0.3s all
    &:hover
      &:before
        background-color $brand-primary
        width 98px

      a
        color $brand-primary
  &__link
    display block
    color #7C7D8B
    font-family $font-family-ui
    text-transform uppercase
    font-weight 700
    letter-spacing 0.1em
    &:hover
      text-decoration none
      color $brand-primary
.products-loader
  padding-top 30px

@media screen and (max-width 768px)
  .products-loader
    padding-top 0
    h2
      font-size 30px
      text-align center
  .products-menu
    border-bottom 0
    margin-top 35px
    &__list
      display block
    &__item
      display block
      text-align center
      border-bottom 0
      padding-bottom 10px
      margin-bottom 20px
      position relative
      &:after
        content ""
        position absolute
        width 55px
        height 2px
        left 50%
        bottom 0
        transform translateX(-50%)
        background-color #EADFD7
      &.current
        border-bottom 0
        &:after
          background-color $brand-primary
      &:last-child
        margin-bottom 0
    &__link
      font-size 14px
