mixin productmenu(data)
  nav.products-menu
    ul.products-menu__list.list-unstyled
      each item in data
        if item.current === "true"
          li.products-menu__item.current
            a.products-menu__link(href= item.link)= item.name
        else
           li.products-menu__item
            a.products-menu__link(href= item.link)= item.name