.header {
  position: relative;
  height: 344px;
}
.header--dark {
  background-color: $gray-base !important;
}
.header--dark .header-menu ul li:hover a {
  color: #fff;
}
.header--dark .header-menu ul li:hover a:before {
  background-color: #fff;
}
.header--dark .header-menu ul li a {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.header--dark .header-menu ul li.current a {
  color: #fff;
}
.header--dark .header-menu ul li.current a:before {
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .header {
    height: 180px;
  }
  .header--dark {
    background-color: $gray-base;
  }
  .header--dark .header-menu {
    top: 0;
  }
  .header--dark .header-menu ul li:hover a {
    color: #fff;
  }
  .header--dark .header-menu ul li:hover a:before {
    background-color: #fff;
  }
  .header--dark .header-menu ul li a {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  .header--dark .header-menu ul li.current a {
    color: #fff;
  }
  .header--dark .header-menu ul li.current a:before {
    background-color: #fff;
  }
  .header--dark .header-menu .header-logo {
    top: 27px;
  }
  .header--dark .mobile-menu {
    position: absolute;
    top: 63px;
    right: 0;
  }
}
.header-menu {
  position: absolute;
  left: 50%;
  top: 186px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 158px;
}
@media screen and (max-width: 1500px) {
  .header-menu {
    top: 150px;
  }
  .header-menu .header-logo {
    top: -110px !important;
  }
}
@media screen and (max-width: 1279px) {
  .header-menu .header-logo {
    top: 27px !important;
  }
}
@media screen and (max-width: 767px) {
  .header-menu {
    top: 27px;
    height: 60px;
  }
}
.header-menu .header-logo {
  position: absolute;
  left: 50%;
  top: -126px;
  top: -126px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 5;
}
@media screen and (max-width: 1500px) {
  .header-menu .header-logo img {
    width: 205px;
    height: 205px;
  }
}
@media screen and (max-width: 1429px) {
  .header-menu .header-logo {
    top: -102px;
  }
  .header-menu .header-logo img {
    width: 200px;
  }
}
@media screen and (max-width: 991px) {
  .header-menu .header-logo img {
    width: 218px;
    height: 218px;
  }
}
@media screen and (max-width: 767px) {
  .header-menu .header-logo {
    top: -30px;
  }
  .header-menu .header-logo img {
    width: 132px;
    height: 132px;
  }
}
.header-menu .header-logo a {
  display: block;
}
.header-menu ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  text-align: justify;
  display: table;
  margin-bottom: 0;
}
.header-menu ul li {
  display: table-cell;
  text-align: center;
}
.header-menu ul li a {
  position: relative;
  font-family: $font-family-ui;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 25px;
  color: $brand-primary;
}
.header-menu ul li a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: $brand-primary;
  bottom: -0.1em;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.header-menu ul li a:hover {
  text-decoration: none;
  color: $brand-primary;
}
.header-menu ul li:hover a:before {
  width: 100%;
}
.header-menu ul li.current a:before {
  background: $gray-base;
  width: 100%;
}
@media screen and (max-width: 1429px) {
  .header-menu__left {
    padding-left: 140px !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 1429px) {
  .header-menu__right {
    padding-left: 40px !important;
    padding-right: 105px !important;
  }
}
.header-menu__left,
.header-menu__right {
  width: 500px;
  height: 50px;
  border-bottom: 1px solid $brand-primary;
  position: relative;
  top: -49px;
}
@media screen and (max-width: 1429px) {
  .header-menu__left,
  .header-menu__right {
    width: 445px;
  }
}
@media screen and (max-width: 1279px) {
  .header-menu__left,
  .header-menu__right {
    border-bottom: 0;
  }
  .header-menu__left ul li a:before,
  .header-menu__right ul li a:before {
    width: 0;
  }
}
@media screen and (max-width: 991px) {
  .header-menu__left,
  .header-menu__right {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .header-menu__left,
  .header-menu__right {
    display: none;
  }
}
.header-menu.frame-outer {
  padding-left: 0;
  padding-right: 0;
}
.header-menu__left {
  float: left;
  text-align: left;
  padding-left: 175px;
  padding-right: 65px;
  padding-right: 0;
  padding-left: 140px;
}
@media screen and (max-width: 1279px) {
  .header-menu__left {
    padding-left: 15px;
    padding-right: 100px;
  }
}
.header-menu__right {
  float: right;
  text-align: right;
  padding-right: 175px;
  padding-left: 65px;
  padding-left: 40px;
  padding-right: 105px;
}
@media screen and (max-width: 1279px) {
  .header-menu__right {
    padding-right: 15px;
    padding-left: 100px;
  }
}
.page--home .header-menu ul li:hover a {
  color: #fff;
}
.page--home .header-menu ul li:hover a:before {
  background: #fff;
}
.page--home .header-menu ul li.current a {
  color: #fff;
}
.page--home .header-menu ul li.current a:before {
  background-color: #fff;
}
@media screen and (max-width: 900px) {
  .header.header--home {
    min-height: 100vh;
    min-height: 100vh;
  }
}
.letter-svg-3 path {
  fill-opacity: 0;
  stroke-width: 0;
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  -webkit-animation: SIGN 2s ease-in-out 1s forwards;
  animation: SIGN 2s ease-in-out 1s forwards;
}
.page.page--products .header-menu .header-logo {
  top: 170px;
}
@media screen and (max-width: 1500px) {
  .page.page--products .header-menu .header-logo {
    top: 150px !important;
  }
}
@media screen and (max-width: 1279px) {
  .page.page--products .header-menu .header-logo {
    top: 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .page.page--products .header-menu .header-logo {
    top: 27px !important;
  }
}
@media screen and (max-width: 767px) {
  .page.page--products .header height 308px {
    height: 180px;
  }
}
@media screen and (max-width: 1279px) {
  .page.page--products .header .header-menu {
    top: 62px;
  }
  .page.page--products .header .header-menu .header-logo {
    top: -35px !important;
  }
}
@media screen and (max-width: 767px) {
  .page.page--error .header .header-logo {
    top: 27px !important;
  }
}
@media screen and (min-width: 768px) and (max-height: 900px) {
  .header.header--home {
    height: calc(100vh + 200px) !important;
  }
}
@-webkit-keyframes SIGN {
  0% {
    stroke-width: 0.3;
    stroke-dashoffset: 800;
  }
  80% {
    stroke-width: 0.3;
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
@keyframes SIGN {
  0% {
    stroke-width: 0.3;
    stroke-dashoffset: 800;
  }
  80% {
    stroke-width: 0.3;
    stroke-dashoffset: 0;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
