.header--home {
  height: auto;
  height: 100vh !important;
  background: url("../images/template/header-home.jpg") center 0 no-repeat;
  background-size: cover;
}
.header--home .header-menu {
  height: calc(100% - 186px);
}
.header--home .header-menu__left {
  padding-right: 0;
  padding-left: 140px;
}
.header--home .header-menu__right {
  padding-left: 40px;
  padding-right: 105px;
}
@media screen and (max-width: 1500px) {
  .header--home .header-menu .header-logo {
    top: -147px;
  }
}
@media screen and (max-width: 1429px) {
  .header--home .header-menu {
    top: 151px;
    height: calc(100% - 151px);
  }
  .header--home .header-menu__left,
  .header--home .header-menu__right {
    top: -50px;
  }
  .header--home .header-menu .header__content {
    padding-top: 134px;
  }
  .header--home .header-menu .header-logo {
    top: -112px;
  }
  .header--home .header-menu__left {
    padding-left: 20px;
  }
  .header--home .header-menu__right {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .header--home .header-menu {
    top: 0px;
    height: 100vh;
  }
  .header--home .header-menu__left,
  .header--home .header-menu__right {
    width: 50%;
    top: 110px;
  }
  .header--home .header-menu__left {
    padding-left: 20px;
    padding-right: 100px;
  }
  .header--home .header-menu__right {
    padding-right: 20px;
    padding-left: 100px;
  }
  .header--home .header-menu .header-logo {
    top: 40px;
  }
  .header--home .header-menu .header__content {
    padding-top: 320px;
  }
}
@media screen and (max-width: 767px) {
  .header--home .header-menu {
    height: 100%;
  }
  .header--home .header-menu .header-logo {
    top: 27px;
  }
  .header--home .header-menu .header__content {
    padding-top: 176px;
  }
  .header--home .header__head {
    margin-top: 30px;
  }
  .header--home .header__head h1 {
    margin-top: 0;
    line-height: 44px;
  }
}
.header__content {
  padding-top: 160px;
}
.header__head {
  margin-top: 55px;
}
.header__head h1 {
  color: #fff;
  line-height: 105px;
}
.header__sign {
  margin-top: 0px;
  width: 292px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
}
.header__decor {
  height: 160px;
  width: 1px;
  background-color: $brand-primary;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: -1px;
  -webkit-animation: scrolldown 4s infinite;
  animation: scrolldown 4s infinite;
}
.header__decor:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: $brand-primary;
  display: block;
  position: absolute;
  top: 24px;
  left: -4.8px;
  left: -0.3rem;
}
@media screen and (max-width: 1429px) {
  .header__head {
    margin-top: 25px;
  }
  .header__head h1 {
    line-height: 82px;
  }
  .header__decor {
    height: 120px;
  }
  .header__content {
    padding-top: 144px;
  }
  .header__head {
    margin-top: 20px;
  }
  .header__head h1 {
    margin-top: 20px;
  }
  .header__sign {
    width: 235px;
    height: 78px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .header__sign {
    width: 257px;
    height: 82px;
  }
  .header__decor {
    height: 160px;
  }
  .header .header__head {
    margin-top: 87px;
  }
  .header .header__head h1 {
    line-height: 94px;
  }
}
@media screen and (max-width: 767px) {
  .header__sign {
    width: 155px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  .header {
    height: calc(100vh + 160px) !important;
  }
}
