.header--home.header--about {
  background: url("../images/template/header-about.jpg") center 0 no-repeat;
  background-size: cover;
}
.header--home.header--about .header-menu .header-links {
  margin-top: 55px;
}
.header--home.header--about .header-menu .header-links ul {
  display: block;
}
.header--home.header--about .header-menu .header-links ul li {
  display: block;
  margin-bottom: 45px;
}
.header--home.header--about .header-menu .header-links ul li a {
  padding-bottom: 0;
  font-size: 18px;
}
.header--home.header--about .header-menu .header-links ul li a:focus {
  text-decoration: none;
}
.header--home.header--about .header-menu .header__head {
  margin-top: 40px;
}
.header--home.header--about .header-menu .header__decor {
  height: 88px;
}
