.navbar-mainmenu {
  background-color: transparent;
  border: none;
}
.navbar-mainmenu .navbar-toggle {
  border: none;
  display: block;
}
.navbar-mainmenu .navbar-toggle:focus,
.navbar-mainmenu .navbar-toggle:hover {
  background-color: transparent;
}
.modal__menu ul li a {
  text-decoration: none;
}
.modal__menu ul li a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .navbar-mainmenu .navbar-toggle {
    display: block;
  }
  .header-menu__left,
  .header-menu__right {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .page--home .mobile-menu {
    position: absolute;
    top: 63px;
    right: 0;
  }
}
@media screen and (max-width: 1279px) {
  .header-menu__right,
  .header-menu__left {
    display: none;
  }
  .mobile-menu {
    display: block !important;
  }
}
@media screen and (max-width: 1279px) and (min-width: 768px) {
  .mobile-menu {
    position: absolute;
    right: 0;
    top: 87px;
  }
  .page--products .mobile-menu {
    top: 30px;
  }
  .page--error .mobile-menu {
    top: -73px;
  }
}
