mixin about-carousel()
  .about-carousel#medals
    .frame-outer
      .about-carousel-content
        .container
          h2 Признанное качество
          p Вкус и качество нашей продукции отмечено многочисленными <br> наградами, в том числе на международных конкурсах.
    .about-carousel-wrapper.owl-carousel.owl-theme
      .about-carousel-item
        a(href="dest/images/content/carousel/full/01.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/01.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/02.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/02.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/03.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/03.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/04.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/04.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/05.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/05.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/06.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/06.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/07.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/07.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/08.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/08.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/09.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/09.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/10.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/10.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/11.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/11.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/12.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/12.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/13.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/13.png", alt="")

      .about-carousel-item
        a(href="dest/images/content/carousel/full/14.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/14.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/15.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/15.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/16.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/16.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/17.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/17.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/18.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/18.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/19.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/19.png", alt="")
      .about-carousel-item
        a(href="dest/images/content/carousel/full/20.png", data-fancybox="lightbox", data-gallery="gallery-carousel-about", data-type="image", data-caption="Кубок за первое место в конкурсе «Лучшее пиво» в 2018 году.")
          img(src="dest/images/content/carousel/tmb/20.png", alt="")