mixin history-all()
  .history-all
    .frame-outer
      .container
        .history__row.history-row--1872
          .row
            .col-md-7
              .type-c(data-paroller-factor="0.3") 1872
              h2.
                Эрнст Клейн – создатель <br>
                пиво-медоваренного завода
              p.
                В XIX веке в России началось промышленное производство кваса, меда и пива. В нашем городе честь первооткрывателя принадлежит Эрнсту Михайловичу Клейну. Его пиво-медоваренный завод начал работу в 1872 году, и с тех пор уже более ста лет ржевские пивовары потчуют земляков и гостей города своими напитками.
            .col-md-5
              .portrait
                img.img-responsive(src="dest/images/content/history/ernst_framepsb.png", alt="")
          .row.history__first
            .col-md-push-1.col-md-8
              p.text-primary.
                Осенью 1871 года прусский поданный Эрнст Михайлович Клейн приобрел имение на Князь-Дмитриевской стороне Ржева. Оно состояло из двух мест земли, каждое из которых было примерно 64 метра в длину и 21 метр в ширину, с деревянным домом, надворными постройками и амбарами.
              p.text-primary.
                А уже 13 мая 1872 года гражданин В.Я. Колберг (по доверенности) просил в городской управе разрешить строительство пивоваренного завода в этом квартале. Именно 1872-й год можно считать годом рождения пиво-медоваренного завода, который изначально носил название «Бавария». Он отмечен на бланке завода вместе с девизом: «Союзом любви, труда и соревнований связуем!»
        .history-row.history-row--brewery
          #parallax-bg-1
          .row
            .col-md-9
              blockquote
                p.
                  В&nbsp;1887&ndash;1888 годах
                  было выпущено 16000 ведер пива и&nbsp;1500 ведер меда.
                  На&nbsp;заводе трудились 18&nbsp;человек.
                  Работа производилась с&nbsp;4&nbsp;часов утра до&nbsp;8&nbsp;часов вечера.
        .history-row.history-row--1895-1
          .row
            .col-md-6
              .type-c(data-paroller-factor="0.3") 1895
              h2.
                Почетный гражданин
                Ржева – Николай Клейн
              p.history-row--1895-1__p-left.
                После смерти отца (между 1895 и&nbsp;1899&nbsp;годами) руководить производством продолжил Николай Клейн. Завод при нем не&nbsp;только стабильно работал, но&nbsp;и&nbsp;наращивал мощности. Сам Николай активно участвовал в&nbsp;жизни дореволюционного Ржева, а&nbsp;в&nbsp;1905 году&nbsp;он, его жена и&nbsp;их&nbsp;дети получили личное почетное гражданство города.
            .col-md-6
              p.history-row--1895-1__p-right.
                Николаю Клейну была пожалована серебряная медаль &laquo;За&nbsp;спасение погибающих&raquo;. Он&nbsp;безвозмездно исполнял обязанности начальника саперного отделения, члена совета пожарного общества, распорядителя на&nbsp;пожарах. Деятельность купца 2-й гильдии Н.Э. Клейна в&nbsp;Ржевском уезде была отмечена большой золотой медалью на&nbsp;Станиславской ленте. Он&nbsp;неоднократно избирался гласным Ржевской Городской думы, а&nbsp;в&nbsp;1913 году был избран членом городской управы.
        .history-row.history-row--1895-2
          .row
            .col-md-5.col-md-offset-1
              .history__slider.js-hs.owl-carousel.owl-theme
                .history__item
                  figure
                    a(href="dest/images/content/history/s11-full.png", data-fancybox="1895", data-caption="Прошение в городсткую управу")
                      img(src="dest/images/content/history/s11-tmb.png", alt="")
                    figcaption Прошение в городсткую управу
                .history__item
                  figure
                    a(href="dest/images/content/history/s12-full.png", data-fancybox="1895", data-caption="Прошение в городсткую управу")
                      img(src="dest/images/content/history/s12-tmb.png", alt="")
                    figcaption Прошение в городсткую управу
                .history__item
                  figure
                    a(href="dest/images/content/history/s13-full.png", data-fancybox="1895", data-caption="Прошение в городсткую управу")
                      img(src="dest/images/content/history/s13-tmb.png", alt="")
                    figcaption Прошение в городсткую управу
                .history__item
                  figure
                    a(href="dest/images/content/history/s14-full.png", data-fancybox="1895", data-caption="Прошение в городсткую управу")
                      img(src="dest/images/content/history/s14-tmb.png", alt="")
                    figcaption Прошение в городсткую управу
                .history__item
                  figure
                    a(href="dest/images/content/history/s15-full.png", data-fancybox="1895", data-caption="Прошение в городсткую управу")
                      img(src="dest/images/content/history/s15-tmb.png", alt="")
                    figcaption Прошение в городсткую управу
            .col-md-6
              blockquote
                p.
                  В&nbsp;1910 году
                  было выпущено 39 000 ведер пива (черного, баварского).
                  На&nbsp;заводе трудились 19&nbsp;человек.
        .history-row.history-row--1917
          .row
            .col-md-7
              .type-c(data-paroller-factor="0.3") 1917
              h2.
                Октябрьская революция
                и&nbsp;смена профиля
              p.
                В&nbsp;декабре 1917 года предприятие перешло в&nbsp;товарищество Ржевского химического завода, и&nbsp;в&nbsp;течение следующих семи лет главной продукцией становятся мыло и&nbsp;клей. В&nbsp;эти годы прежий хозяин завода Николай Клейн работал солодовщиком 8&nbsp;разряда, а&nbsp;его сын Эрнст&nbsp;&mdash; механиком.
              .col-md-push-1.col-md-11
                p.text-primary.
                  В&nbsp;1931 году предприятие было преобразовано в&nbsp;Ржевский госпивзавод, который вошел в&nbsp;состав Наркомата пищевой промышленности и&nbsp;имел областное подчинение.
            .col-md-5
              .history-row--1917__img
                figure
                  img.img-responsive(src="dest/images/content/history/image-1.png", alt="")
                  figcaption Цех дображивания пива
        .row
          .col-md-push-1.col-md-7
            .history-row.history-row--1927
              blockquote
                p.
                  В&nbsp;1927 году
                  было выпущено около 58000 ведер пива.
                  На&nbsp;заводе трудились 35&nbsp;человек
        .history-row.history-row--1941
          .type-c(data-paroller-factor="0.3") 1941&ndash;1945
          .row
            .col-md-6.col-md-pull-1
              .history__slider.js-hs.owl-carousel.owl-theme.visible-lg.visible-md
                .history__item
                  figure
                    a(href="dest/images/content/history/s2-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s2-tmb.png", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s22-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s22-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s23-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s23-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s24-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s24-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
            .col-md-6
              h2.
                Из пепла Великой
                Отечественной войны
              p.
                Оккупация Ржева войсками фашистской Германии продолжалась 17&nbsp;долгих месяцев, были обрушены десятки тысяч бомб и&nbsp;снарядов. И&nbsp;когда 3&nbsp;марта 1943 года Красная армия вошла в&nbsp;город, его не&nbsp;было. С&nbsp;первых дней началась воистину титаническая работа по&nbsp;восстановлению. Но&nbsp;пивоваренный цех был вновь запущен уже 25&nbsp;июля 1943&nbsp;года, а&nbsp;в&nbsp;первый послевоенный год пивзавод выполнил план на&nbsp;112%.
              .history__slider.js-hs.owl-carousel.owl-theme.visible-xs.visible-sm
                .history__item
                  figure
                    a(href="dest/images/content/history/s2-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s2-tmb.png", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s22-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s22-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s23-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s23-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
                .history__item
                  figure
                    a(href="dest/images/content/history/s24-full.png", data-fancybox="1941", data-caption="Вид оккупированного Ржева в августе 1942 года")
                      img(src="dest/images/content/history/s24-tmb.jpg", alt="")
                    figcaption Вид оккупированного Ржева в августе 1942 года
        .history-row.history-row--1950
          .type-c(data-paroller-factor="0.3") 1950-Е
          .row
            .col-md-6
              h2.
                Эпоха социалистических
                соревнований

              p.
                В&nbsp;1951 году страна вступила в&nbsp;пятую пятилетку. Завод освоил новые виды газированных напитков: грушевого черносмородинового, и&nbsp;малинового, в&nbsp;1954 году&nbsp;&mdash; &laquo;Лимонада&raquo;, &laquo;Яблочного&raquo;, &laquo;Сливового&raquo;, &laquo;Кизилового&raquo;. Продолжилась работа по&nbsp;модернизации производства на&nbsp;повестку дня встал вопрос о&nbsp;его расширении.
            .col-md-6
              .history__slider.js-hs.owl-carousel.owl-theme
                .history__item
                  figure
                    a(href="dest/images/content/history/s31-full.png", data-fancybox="1950", data-caption="Участок цеха розлива пива")
                      img(src="dest/images/content/history/s32-tmb.jpg", alt="")
                  figcaption Участок цеха розлива пива
                .history__item
                  figure
                    a(href="dest/images/content/history/s32-full.png", data-fancybox="1950", data-caption="Коллектив завода 1953")
                      img(src="dest/images/content/history/s31-tmb.jpg", alt="")
                  figcaption Коллектив завода 1953
        .history-row.history-row--1970
          .type-c(data-paroller-factor="0.3") 1960—1970
          .row
            .col-md-5.col-md-pull-1
              .history__slider.js-hs.owl-carousel.owl-theme.hidden-sm.hidden-xs
                .history__item
                  figure
                    a(href="dest/images/content/history/s41-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s41-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s42-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s42-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s43-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s43-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s44-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s44-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s45-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s45-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
            .col-md-5.col-md-push-1
              h2.
                Рост производственной
                мощности завода


              p.
                В 1961 году было начато сооружение нового механизированного пивоваренного завода производственной мощностью в 2,5 раза больше существующего. Его запуск прошел только в 1969 году, в апреле новый завод дал первую продукцию, а со второго полугодия начал работать на полную мощность. Благодаря новому оборудованию пиво стало более стойким, прозрачным и вкусным.
              .history__slider.js-hs.owl-carousel.owl-theme.visible-sm.visible-xs
                .history__item
                  figure
                    a(href="dest/images/content/history/s41-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s41-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s42-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s42-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s43-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s43-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s44-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s44-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
                .history__item
                  figure
                    a(href="dest/images/content/history/s45-full.png", data-fancybox="1960", data-caption="Cтроительство завода в 1966 году")
                      img(src="dest/images/content/history/s45-tmb.jpg", alt="")
                    figcaption Cтроительство завода в 1966 году
        .history-row.history-row--1980
          .type-c(data-paroller-factor="0.3") 1980-Е
          .row
            .col-md-8.col-md-push-3
              h2.
                Курсом перестройки
              p.
                Генеральный секретарь М.С. Горбачев объявил курс на перестройку и ускорение. Антиалкогольная кампания, госприемка и многое другое заметно отразились на работе пивзавода. Но была произведена реконструкция цеха безалкогольных напитков, производительность возросла в два раза. В конце 1989 года на предприятии приступили к выпуску фирменного пива «Ржевское».
        .history-row.history-row--1990
          .type-c(data-paroller-factor="0.3") 1990-е
          .row
            .col-md-6
              h2.
                Вступление в рынок

              p.
                Экономика России перешла на рыночные отношения. На красочных бутылочных этикетках появился свой товарный знак, подтверждающий солидное положение АО «Ржевпиво». С личного разрешения князя Александра Ржевского один из сортов выпускаемого пива получил название «Поручик Ржевский». Завод начал активно участвовать в российских и международных конкурсах.
            .col-md-6
              .history__slider.history__slider.js-hs90.owl-carousel.owl-theme
                .history__item
                  figure
                    a(href="dest/images/content/history/s51-full.png", data-fancybox="1990", data-caption="Товарный знак, знак обслуживания")
                      img(src="dest/images/content/history/s51-tmb.png", alt="")
                    figcaption Товарный знак, знак обслуживания
                .history__item
                  figure
                    a(href="dest/images/content/history/s52-full.jpg", data-fancybox="1990", data-caption="Товарный знак, знак обслуживания")
                      img(src="dest/images/content/history/s52-tmb.jpg", alt="")
                    figcaption Товарный знак, знак обслуживания
                .history__item
                  figure
                    a(href="dest/images/content/history/s53-full.png", data-fancybox="1990", data-caption="Товарный знак, знак обслуживания")
                      img(src="dest/images/content/history/s53-tmb.png", alt="")
                    figcaption Товарный знак, знак обслуживания
        .history-row.history-row--2000
          .type-c(data-paroller-factor="0.3") 2000—2014
          .row
            .col-md-6
              .history__slider.js-hs.owl-carousel.owl-theme.hidden-sm.hidden-xs
                .history__item
                  figure
                    a(href="dest/images/content/history/s61-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s61-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
                .history__item
                  figure
                    a(href="dest/images/content/history/s62-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s62-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
                .history__item
                  figure
                    a(href="dest/images/content/history/s63-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s63-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
            .col-md-6
              h2.
                Европейский уровень

              p.
                Ржевское пиво соответствует лучшим европейским стандартам. Это подтверждают диплом, полученный в&nbsp;Чехии в&nbsp;2002&nbsp;году, московский кубок Гран-При 2004 года &laquo;За&nbsp;стабильно высокое качество продукции&raquo;, серебряная медаль на&nbsp;XVIII международном профессиональном конкурсе &laquo;Лучшее пиво года&raquo;.
              .history__slider.js-hs.owl-carousel.owl-theme.visible-sm.visible-xs
                .history__item
                  figure
                    a(href="dest/images/content/history/s61-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s61-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
                .history__item
                  figure
                    a(href="dest/images/content/history/s62-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s62-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
                .history__item
                  figure
                    a(href="dest/images/content/history/s63-full.png", data-fancybox="200", data-caption="Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия")
                      img(src="dest/images/content/history/s63-tmb.png", alt="")
                    figcaption Диплом, подтверждающий соответствие ржевского пива лучшим европейским мmтандартам. Борно, Чехия
        .history-row.history-row--last.visible-xs
          p.text-center.
            По материалам заводского музейного архива и книге О. Кондратьева «Вековые традиции ржевских пивоваров»
        .history-row.history-row--last.hidden-xs
          img.img-responsive(src="dest/images/content/history/EK_calligraphy.png", alt="")

    .header__decor