mixin modalmenu()
  .modal.fade#navmenu-mobile(tabindex="-1", aria-labelledly="Меню")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(class="close", type="button", data-dismiss="modal", aria-label="close")
            span(aria-hidden="true")
              img(src="dest/images/template/cross.svg", alt="")
        .modal-body
          .modal__menu
            ul
              li
                a(href="history.html") История
              li
                a(href="about.html") О заводе
              li
                a(href="products.html") Продукция
              li
                a(href="contacts.html") Контакты