.header
  &--home
    height auto
    height 100vh !important
    background url('../images/template/header-home.jpg') center 0 no-repeat
    background-size cover
    .header-menu
      height calc(100% - 186px)
      &__left
        padding-right 0
        padding-left 140px
      &__right
        padding-left 40px
        padding-right 105px
    @media screen and (max-width 1500px)
      .header-menu
        .header-logo
          top -147px
    @media screen and (max-width 1429px)
      .header-menu
        top 151px
        height  calc(100% - 151px)
        &__left
        &__right
          top -50px
        .header__content
           padding-top 134px
        .header-logo
          top -112px
        &__left
          padding-left 20px
        &__right
          padding-right 20px
    @media screen and (max-width 1279px)
      .header-menu
        top 0px
        height  100vh
        &__left
        &__right
          width 50%
          top 110px

        &__left
            padding-left 20px
            padding-right 100px
        &__right
          padding-right 20px
          padding-left 100px
        .header-logo
          top 40px
        .header__content
          padding-top 320px
    @media screen and (max-width 767px)
      .header-menu
        height 100%
        .header-logo
          top 27px
        .header__content
          padding-top 176px
      .header__head
        margin-top 30px
        h1
          margin-top 0
          line-height 44px
  &__content
    padding-top 160px
  &__head
    margin-top 55px
    h1
      color #fff
      line-height 105px
  &__sign
    margin-top 0px
    width 292px
    height 96px
    margin-left auto
    margin-right auto
  &__decor
    height 160px
    width 1px
    background-color $brand-primary
    position absolute
    left 50%
    bottom 0
    transform translateX(-50%)
    margin-left -1px
    animation: scrolldown 4s infinite;
    &:before
      content ""
      width 7px
      height 7px
      border-radius 100%
      background-color $brand-primary
      display block
      position absolute
      top 24px
      left -0.3rem

  @media screen and (max-width 1429px)
    &__head
      margin-top 25px
      h1
        line-height 82px

    &__decor
      height 120px
    &__content
      padding-top 144px
    &__head
      margin-top 20px
      h1
        margin-top 20px
    &__sign
      width 235px
      height 78px
  @media screen and (max-width 991px) and (min-width 768px)
    &__sign
      width 257px
      height 82px
    &__decor
      height 160px
    .header__head
      margin-top 87px
      h1
        line-height 94px

  @media screen and (max-width 767px)
      &__sign
        width 155px
        height 50px
  @media screen and (max-width 767px) and (orientation landscape)
    height calc(100vh + 160px) !important
  // @media screen and (max-height 640px) and (min-width 768px) and (orientation landscape)
  //   height 760px !important
  //   .header-menu
  //     height 100%