mixin about-slider()
  .about-ex.visible-xs.visible-sm
    .container
      .row
        .col-md-7
          h2 Экскурсия на завод
          p.
            Мы рады сообщить, что проводим экскурсии на нашем заводе. Это прекрасная возможность познакомиться с технологиями приготовления пива и безалкогольных напитков, посетить производственные цеха, узнать историю предприятия, основанного в 1872 году, и продегустировать фирменную продукцию. Продолжительность экскурсии – около двух часов.
        .col-md-5
          .footer__box.hidden-sm.hidden-xs.box--ex
            h3.
              Ждем вас в гости!
            p.
              Экскурсии проводятся для всех желающих в возрасте от 18 лет по предварительной записи.
            p.
              Время проведения экскурсий: <br> вторник – четверг, с 13:00 до 16:00.
            button.btn.btn-primary.btn-lg записаться на экскурсию
  .about-slider-outer#excursion
    .frame-outer
    .owl-dots#customOwlDots
    .about-slider.js-about-slider.owl-carousel.owl-theme#aboutSlider
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-1.jpg')")
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-2.jpg')")
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-3.jpg')")
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-4.jpg')")
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-5.jpg')")
      .about-slider__item(style="background-image: url('dest/images/content/slider/slide-6.jpg')")
