.about-slider
  height 930px
  background-size cover
  background-position center 0
  .about-slider__item
  .owl-item
  .owl-stage
  .owl-stage-outer
    height 100%
.about-slider-outer
  position relative
  .frame-outer
    position absolute
    left 50%
    top 0
    transform translateX(-50%)
    z-index 2
    height 100%
.about-slider__item
  background-position center
  background-repeat no-repeat
  background-size cover
.owl-dots
  position absolute
  left 387px
  top 55px
  z-index 3
  .owl-dot
    background-color transparent
    margin 0
    padding 0
    box-shadow none
    border none
    span
      background transparent !important
      border 2px solid #CEA27F
      width 12px
      height 12px
      margin 5px 12px
      display block
      border-radius 100%
    &.active
      span
        background-color #CEA27F !important

@media screen and (max-width 1279px)
  .about-slider
    height 640px
@media screen and (max-width 991px)
  .about-slider
    height 480px
@media screen and (max-width 767px)
  .about-slider
    height 209px