mixin about-block()
  .about-block#tech
    .container
      h2.
        Отлаженная веками
        традиционная технология
        пивоварения
      p.
        «Пиво-медоваренный завод Эрнста Клейна» производит пастеризованное и не подвергавшееся термической обработке «живое» пиво, а также квасы, меды, безалкогольные напитки. Секрет отличного вкуса – тщательно выверенная рецептура, вода с собственной скважины 120-метровой глубины, современное оборудование и слаженный коллектив. Качество сырья и готовой продукции контролирует наша производственная лаборатория.

