.about-block
  background $brand-primary
  padding 130px 0
  .container
    position relative
    padding-left 118px
    z-index 2
    &:before
      content url('../images/template/about-block-vensel.svg')
      background-position 0 0
      background-repeat no-repeat
      width 339px
      height 260px
      position absolute
      left -105px
      top -90px
      z-index -1
  h2
    max-width 600px
    margin-top 0
    line-height 1.3
    margin-bottom 30px
  p
    font-size 20px
    line-height 1.6