mixin popup()
  .modal.modal--simple.fade#popupContacts(tabindex="-1", aria-labelledly="Написать сообщение")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(class="close", type="button", data-dismiss="modal", aria-label="close")
            span(aria-hidden="true")
              img(src="dest/images/template/popup-close.svg", class="img-responsive", alt="")
        .modal-body
          h3.
            Заполните форму, чтобы
            мы смогли с вами связаться
          form.form-horizontal(action="")
            .form-group
              input.form-control(type="text", placeholder="Ваше имя")
            .form-group.has-error
              input.form-control(type="text", placeholder="Номер телефона/Email")
            .form-group
              textarea.form-control(type="text", placeholder="Напишите, что вас интересует")
            .form-group
              input(type="submit", class="btn btn-primary btn-lg", value="Отправить сообщение")
          a(href="/") ссылка
          P текст

  .modal.modal--simple.fade#popupEx(tabindex="-1", aria-labelledly="Заявка на экскурсию")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          button(class="close", type="button", data-dismiss="modal", aria-label="close")
            span(aria-hidden="true")
              img(src="dest/images/template/popup-close.svg", alt="")
        .modal-body
          h3  Заполните  заявку

          .pre-form
            span Группа до 10 человек – стоимость 15 000 руб.
            span Группа от 10 человек – стоимость 1500 руб./гость
          form.form-horizontal(action="")
            .form-group
              select(name="").form-control
                options
                  option(value="26.07.2018 (четверг)") 26.07.2018 (четверг)
                  option(value="31.07.2018 (вторник)") 31.07.2018 (вторник)
                  option(value="01.07.2018 (среда)") 01.07.2018 (среда)
                  option(value="02.07.2018 (четверг)") 02.07.2018 (четверг)
                  option(value="07.07.2018 (вторник)") 07.07.2018 (вторник)
                  option(value="08.07.2018 (среда)") 08.07.2018 (среда)
                  option(value="09.07.2018 (четверг)") 09.07.2018 (четверг)
                  option(value="14.07.2018 (вторник)") 14.07.2018 (вторник)
            .form-group.row
              .col-sm-6
                select(name="").form-control
                  options
                    option(value="13:00") 13:00
                    option(value="14:00") 14:00
                    option(value="15:00") 15:00
                    option(value="16:00") 16:00
              .col-sm-6
                input(type="text", placeholder="Кол-во человек").form-control

            .form-group
              input.form-control(type="text", placeholder="Название группы")
            .form-group
              input.form-control(type="text", placeholder="Контактное лицо")
            .form-group
              input.form-control(type="text", placeholder="Номер телефона")
            .form-group
              input(type="submit", class="btn btn-primary btn-lg", value="Отправить сообщение")
