mixin product-list(data)
  if data
    nav.products__list
      ul.js-listMore
        each item in data
          li
            a(href= item.link)= item.name

  else
    nav.products__list
      div(class="js-customScroll custom-scroll-advanced_container custom-scroll-advanced_hidden-x")
        .custom-scroll-advanced_inner
          ul(role="tablist", aria-multiselectable="false", id="js-list-accordion")
            li(class="panel")
              a(role="tab", data-toggle="collapse", aria-expanded="false", data-parent="#js-list-accordion", data-target="#nonalc1", aria-controls="collapseOne") Напитки Премиум класса «Фруткпуиз»
              ul(role="tabpanel", class="collapse js-listMore", id="nonalc1")
                li
                  a(href="product.html") «Аромат Апельсина»
                li
                  a(href="product.html") «Буратино»
                li
                  a(href="product.html") «Дюшес с ароматом груши»
                li
                  a(href="product.html") «Кола»
                li
                  a(href="product.html") «Колокольчик»
                li
                  a(href="product.html") «Лесная ягода»
                li
                  a(href="product.html") «Лимонад»
                li
                  a(href="product.html") «Мохито»
                li
                  a(href="product.html") «Ситро»
                li
                  a(href="product.html") «Таежный аромат»

            li(class="panel")
              a(role="tab", data-toggle="collapse", aria-expanded="false", data-parent="#js-list-accordion", data-target="#nonalc2", aria-controls="collapseTwo") Напитки серии Лайт «Фруткруиз»
              ul(role="tabpanel", class="collapse js-listMore", id="nonalc2")
                li
                  a(href="product.html") «Аромат Апельсина»
                li
                  a(href="product.html") «Буратино»
                li
                  a(href="product.html") «Дюшес с ароматом груши»
                li
                  a(href="product.html") «Кола»
                li
                  a(href="product.html") «Колокольчик»
                li
                  a(href="product.html") «Лесная ягода»
                li
                  a(href="product.html") «Лимонад»
                li
                  a(href="product.html") «Мохито»
                li
                  a(href="product.html") «Ситро»
                li
                  a(href="product.html") «Таежный аромат»
            li(class="panel")
              a(role="tab", data-toggle="collapse", aria-expanded="false", data-parent="#js-list-accordion", data-target="#nonalc3", aria-controls="collapseThree") Негазированные напитки «Фруткруиз»
              ul(role="tabpanel", class="collapse js-listMore", id="nonalc3")
                li
                  a(href="product.html") «Аромат Апельсина»
                li
                  a(href="product.html") «Буратино»
                li
                  a(href="product.html") «Дюшес с ароматом груши»
                li
                  a(href="product.html") «Кола»
                li
                  a(href="product.html") «Колокольчик»
                li
                  a(href="product.html") «Лесная ягода»
                li
                  a(href="product.html") «Лимонад»
                li
                  a(href="product.html") «Мохито»
                li
                  a(href="product.html") «Ситро»
                li
                  a(href="product.html") «Таежный аромат»
            li(class="panel")
              a(role="tab", data-toggle="collapse", aria-expanded="false", data-parent="#js-list-accordion", data-target="#nonalc4", aria-controls="collapseFour") Напитки негазированные сокосодержащие «Фруткруиз»
              ul(role="tabpanel", class="collapse js-listMore", id="nonalc4")
                li
                  a(href="product.html") «Аромат Апельсина»
                li
                  a(href="product.html") «Буратино»
                li
                  a(href="product.html") «Дюшес с ароматом груши»
                li
                  a(href="product.html") «Кола»
                li
                  a(href="product.html") «Колокольчик»
                li
                  a(href="product.html") «Лесная ягода»
                li
                  a(href="product.html") «Лимонад»
                li
                  a(href="product.html") «Мохито»
                li
                  a(href="product.html") «Ситро»
                li
                  a(href="product.html") «Таежный аромат»

        .custom-scroll-advanced_track-y
          span.arrow.top
          span.arrow.bottom
      .custom-scroll-advanced_bar-y