mixin mobilemenu()
  nav.hidden-lg.mobile-menu
    .navbar.navbar-default.navbar-mainmenu
      .container-fluid
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="modal", data-target="#navmenu-mobile", aria-expanded="false")
            img(src="dest/images/template/gamb.svg", alt="")
