.header
  position relative
  height 344px
  &--dark
      background-color $gray-base !important
      .header-menu
        ul
          li
            &:hover
              a
                color #fff
                &:before
                  background-color #fff
            a
              transition all ease 0.3s
            &.current
              a
                color #fff
                &:before
                  background-color #fff
  @media screen and (max-width 767px)
    height 180px
    &--dark
      background-color $gray-base
      .header-menu
        top 0
        ul
          li
            &:hover
              a
                color #fff
                &:before
                  background-color #fff
            a
              transition all ease 0.3s
            &.current
              a
                color #fff
                &:before
                  background-color #fff
        .header-logo
          top 27px
      .mobile-menu
        position absolute
        top 63px
        right 0
.header-menu
  position absolute
  left 50%
  top 186px
  transform translateX(-50%)
  width 100%
  text-align center
  height 158px
  @media screen and (max-width 1500px)
    top 150px
    .header-logo
      top -110px !important
  @media screen and (max-width 1279px)
    .header-logo
      top 27px !important
  @media screen and (max-width 767px)
    top 27px
    height 60px
  .header-logo
    position absolute
    left 50%
    top calc(-186px + 60px)
    transform translateX(-50%)
    z-index 5
    @media screen and (max-width 1500px)
      img
        width 205px
        height 205px
    @media screen and (max-width 1429px)
      top -102px
      img
        width 200px
    @media screen and (max-width 991px)
      img
        width 218px
        height 218px
    @media screen and (max-width 767px)
      top -30px
      img
        width 132px
        height 132px
    a
      display block
  ul
    list-style-type none
    padding 0
    width 100%
    text-align justify
    display table
    margin-bottom 0
    li
      display table-cell
      text-align center
      a
        position relative
        font-family $font-family-ui
        font-weight 700
        font-size 14px
        text-align center
        letter-spacing 1.4px
        text-transform uppercase
        display inline-block
        padding-bottom 25px
        color $brand-primary
        &:before
          content ""
          position absolute
          width 0%
          height 2px
          background $brand-primary
          bottom -0.1em
          transition all ease 0.3s
        &:hover
          text-decoration none
          color $brand-primary
      &:hover
        a
          &:before
            width 100%
      &.current
        a
          &:before
            background $gray-base
            width 100%
  &__left
    @media screen and (max-width 1429px)
      padding-left 140px !important
      padding-right 0 !important
  &__right
    @media screen and (max-width 1429px)
      padding-left 40px !important
      padding-right 105px !important
  &__left
  &__right
    width 500px
    height 50px
    border-bottom 1px solid $brand-primary
    position relative
    top -49px
    @media screen and (max-width 1500px)
      // top -85px
    @media screen and (max-width 1429px)
      width 445px
    @media screen and (max-width 1279px)
      border-bottom 0
      ul
        li
          a
            &:before
              width 0
    @media screen and (max-width 991px)
      width 50%
    @media screen and (max-width 767px)
      display none
  &.frame-outer
    padding-left 0
    padding-right 0
  &__left
    float left
    text-align left
    padding-left 175px
    padding-right 65px
    padding-right 0
    padding-left 140px
    @media screen and (max-width 1279px)
      padding-left 15px
      padding-right 100px
  &__right
    float right
    text-align right
    padding-right 175px
    padding-left 65px
    padding-left 40px
    padding-right 105px
    @media screen and (max-width 1279px)
      padding-right 15px
      padding-left 100px
.page
  &--home
    .header-menu
      ul
        li
          &:hover
            a
              color #fff
              &:before
                background #fff
          &.current
            a
              color #fff
              &:before
                background-color #fff
@media screen and (max-width 900px)
  .header.header--home
     min-height calc(100vh)

.letter-svg-3
  path
    // stroke #fff
    // fill #fff
    fill-opacity 0
    stroke-width 0
    stroke-dasharray 800
    stroke-dashoffset 800
    animation SIGN 2s ease-in-out 1s forwards
.page.page--products
  .header-menu
    .header-logo
      top 170px
      @media screen and (max-width 1500px)
        top 150px !important
      @media screen and (max-width 1279px)
        top 0px !important
      @media screen and (max-width 767px)
        top 27px !important
  .header
    height 308px
     @media screen and (max-width 767px)
      height 180px
    .header-menu
      @media screen and (max-width 1279px)
        top 62px
        .header-logo
          top -35px !important
.page.page--error
  .header
    @media screen and (max-width 767px)
      .header-logo
        top 27px !important
@keyframes SIGN
  0%
    stroke-width .3
    stroke-dashoffset 800
  80%
    stroke-width .3
    stroke-dashoffset 0
    fill-opacity 0
  100%
    stroke-width 0
    stroke-dashoffset 0
    fill-opacity 1

@media screen and (min-width 768px) and (max-height 900px)
  .header.header--home
    height calc(100vh + 200px) !important