include ../../modules/mobilemenu/mobilemenu
include ../../modules/header-home/header-home
include ../../modules/header-about/header-about
include ../../modules/header-history/header-history
mixin header()
  if attributes.class === "dark"
    header(class='header header--dark')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li.current
              a(href="products.html") продукция
            li
              a(href="contacts.html") контакты
        +mobilemenu()
  else if attributes.class === "error"
    header(class='header header--dark')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li
              a(href="products.html") продукция
            li
              a(href="contacts.html") контакты
        +mobilemenu()
  else if attributes.class === "contacts"
    header(class='header header--dark')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li
              a(href="products.html") продукция
            li.current
              a(href="contacts.html") контакты
        +mobilemenu()
  else if attributes.class === "home"
    header(class='header header--home')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li
              a(href="products.html") продукция
            li
              a(href="contacts.html") о заводе
        +mobilemenu()
        +header-home()
        .header__decor
  else if attributes.class === "about"
    header(class='header header--home header--about')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li
              a(href="history.html") история
            li.current
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li
              a(href="products.html") продукция
            li
              a(href="contacts.html") контакты
        +mobilemenu()
        +header-about()
        .header__decor
  else if attributes.class === "history"
    header(class='header header--home header--history')
      .header-menu.frame-outer
        .header-menu__left
          ul
            li.current
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li
              a(href="products.html") продукция
            li
              a(href="contacts.html") контакты
        +mobilemenu()
        +header-history()
        .header__decor
  else if attributes.class === "page18"
    header(class='header header--dark')
      .header-menu.frame-outer
        .header-menu__left
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
  else
    header(class='header')
      .header-menu.frame-outer
        .header-menu__left
          a(href="products.html", class="back-cat visible-xs") назад
          ul
            li
              a(href="history.html") история
            li
              a(href="about.html") о заводе
        .header-logo
          a(href="/")
            img(src="dest/images/template/logo.svg", alt="")
        .header-menu__right
          ul
            li.current
              a(href="products.html") продукция
            li
              a(href="contacts.html") контакты
        +mobilemenu()
