mixin header-history()
  .header__content
    .header__sign
      svg(width='100%', height="100%", viewbox='0 0 293 97', fill='none', xmlns='http://www.w3.org/2000/svg')
        path(d='M200.755 70.048c-.8 0-6.1 6.667-10.5 7.18-2.6.308-4.7-.205-6.9-1.846s-4.1-3.693-5.2-6.257c-1.4-3.077-1.8-6.462-2.3-9.745-.7-4.308-.5-6.975-2.2-8.924 1.4-1.025 3-2.564 4.1-3.692 3.7-3.59 6-6.257 9.5-10.77 2.2-3.18 3.3-5.334 5-8.822 1.9-3.898 3-8.206 3-12.514-.1-1.641-.3-3.488-1.9-3.385-1.3.103-3 1.23-3 2.462-.1 1.128.2 1.846.2 2.872 0 2.564 0 6.257-1.1 8.616-2 3.898-3.1 7.18-5.6 10.873-2.6 3.898-4.2 4.513-7.4 8.411-.6.718-1.2 1.334-1.7 1.846-.7.718-1.4 1.334-1.9 1.95-.4.307-.9.615-1.4.922-1.6 1.129-1.7.103-3.5.41-.8.103-2.5 1.026-3.1 1.437-.9.615-1.8 1.128-2.6 1.846.3-.615.6-1.23.9-1.949 1.4-3.282 5.1-10.565 6.8-13.13.4-.512 1.3-2.05 2.3-3.794 2.7-.206 5.2-.206 7.1.102 1.6.308 3.9 1.539 4.5-1.026.1-1.64-6.2-1.23-6.3-1.23-1.4-.103-2.8 0-4.2.102 2.4-4 5-8.719 5-9.232.1-.923-.6-1.949-1.6-1.949-1.5.103-3.1 2.975-4.6 5.54-.4.717-1.8 3.692-2.8 5.949-2.5.307-4.9.718-7.4 1.128-1.5.205-2.9.513-4.4.923-1.4.308-2.2-.102-1.2-1.23 3-3.488 9-10.463 8.8-11.489-.1-.923-.1-2.36-1.5-2.154-2.5.41-9.2 9.642-13.7 14.77-2.5 2.77-2.8 2.667-6.7 3.283-5.1.82-8.8 2.975-20.6 5.436-5 1.026-11 2.77-16.1 3.59-6.6 1.129-12.8 2.77-19.4 3.18-5.2.41-10.2 1.436-15.3 2.052-9.6 1.128-18.3 2.872-28.1 2.667-2.7-.103-5.3.205-8 .615-.9.103-2.2.103-2 1.334.2 1.128 7.6.205 8.9.205 10 0 19.8-2.257 29.7-3.488 11.5-1.436 22.6-2.872 33.9-4.718 5.8-.923 12.8-2.462 18.5-4 8.2-2.052 13.5-3.796 17.4-4.616 1.2-.308 2.2-.821 1.4 2.051-7.3 13.13-19.5 21.54-22.3 23.797-1.2.924-2.2 1.95-4.4 3.693-.2.205-2.1 1.846-2.4 1.128 0-.205 1-2.256 1.3-3.282.7-2.975.4-5.334.7-7.283 1-2.051 3.7-5.641 3.2-9.232-.1-.41-1.2-.923-1.5-.82-1.3.205-2.8 4.718-3.7 7.59-2.4 3.078-6.3 6.668-9.4 9.54-3.5 2.872-6 4.718-10.3 5.436-.9.103-1.5-.102-1.7-1.128-.1-.41 3.7-4.616 3.5-5.54-.3-1.64-1.8-1.23-2.6-1.127-1.4.205-10 7.693-10.4 7.693-.4.102-1.4-.82-.5-2.462.9-1.641.8-1.949.7-2.77-.1-.923-1.5-1.333-2.3-1.436-1.6-.205-3 1.436-4.1 2.462-1.1.923-2.2 1.744-3.4 2.667-.3.205-.7.41-1.1.615-1.4.719-2.9 1.436-4.4 1.642-.8.102-1.6 0-2.2-.513-1.2-.923-1.5-3.18-1.6-4.616 0-.513 0-1.128-.4-1.436l-.1-.103c-.2-.102-.4-.205-.7-.205-.6 0-1.1.308-1.5.82-.4.411-.7.924-.9 1.437-1.5 2.77-3.6 5.231-5.8 7.59-.1-.718 1.8-5.846.4-5.641-.6.102-1.2.308-1.7.615-.6.308-1.1.616-1.6 1.026-1.6.923-3.5 2.051-4.6 2.872-3.9 2.564-7.8 5.026-11.8 7.385-2.8 1.642-5.7 3.18-8.6 4.719-2.7 1.436-5.3 2.256-8.3 2.974-3.6.924-9.2 2.667-12.5 0-1.9-1.64-3-4.308-2.9-6.77.1-3.18 1.1-6.257 2.7-8.923 1.3-2.154 3.1-4.411 5.4-5.54 1.8-.82 5-1.025 6.8 0 .8.513 1.5 1.334 2.5 1.54.8-.206 1.4-1.027 1.3-1.847-.4-2.462-3.1-4.308-4.2-6.462-1.4-2.667-1.9-6.36-1.1-9.232.1-.41 1.5-3.898 1.6-3.795 3.2 2.359 9.1 3.18 12.4.718 1.7-1.231 3.2-2.36 4.5-4.103 1.3-1.744 2.3-3.796 3.2-5.847.6-1.436 1.3-2.872 1-4.41-.5-3.18-4.4-3.693-6.9-3.283-2.8.513-5.3 2.872-7.3 4.821-2.2 2.154-4 4.718-6.1 6.77-.5-.41-1-.718-1.4-1.334-1.8-2.359-3.4-5.23-4.7-7.898-.4-.102-.8-.205-1.3-.102-.7.102-1.1 1.23-1 1.743.5 3.18 3.1 9.232 5.6 11.181-2.2 3.385-3.2 9.026-2.6 13.13.2 1.435.7 2.769 1.3 4-6.9 1.23-13.7 9.54-15.1 16.822-.4 2.257-.3 4.513.1 6.667.8 5.026 3.7 9.335 9.2 8.411 2.9-.512 5.7-1.743 8.5-2.666 2-.616 4.1-1.231 6-2.257 2.2-1.128 4.3-2.36 6.4-3.59 4.9-2.872 9.9-5.744 14.8-8.616.6-.308 1.1-.616 1.7-1.026.6-.41 1.3-.718 2-1.026.5-.205 1.8-.718 2.2-.41.5.41 0 1.333-.3 1.846-1.2 2.257-2.1 4.41-3 6.77-.1.205-.1.41 0 .513.1.102.2.102.3.102 1.1.206 2.3-.512 3.1-1.333 1-1.026 1.7-2.36 2.6-3.385 1.4-1.539 2.6-3.282 3.8-5.026.7-.923 1.3-1.949 2.1-2.872.5-.718 1-2.052 1.9-2.36.1.206.2.514.2.821.2 1.744 1.4 3.283 3.1 3.59 2.6.513 6.4-1.23 8.7-2.872 1.3-.923 2.6-1.538 3.9-2.462 1.2-.512 2.8-1.025 1.8.821-.8 1.436-1.6 2.975-2.5 4.308-.4.616-1.7 2.154-1.6 2.975.3 1.846 1.2 1.538 1.7 1.436.8-.103 5.7-4.41 7.6-5.744.7-.513 4.5-4 5.1-4.103.5-.103.3.205.5.205.1.82-.9 1.641-.7 2.462.4 2.359 2.3 2.564 5.3 2.051 3.3-.615 7-3.385 8.7-4.82.4-.309.9-.616 1.3-1.027 2.7-2.154 3.7-2.77 5.5-4.205.2-.103 1.2-1.231 2-1.744.4-.308.9-.718 1.3-.718.2.103.3.205.3.513 0 4.103-2.7 9.95-3.5 10.36-.3 0-3.1 1.949-3.3 2.051-.3.206-.7.821-1 1.026-1 .82-2.1 1.641-2.8 2.77-.9 1.64.3 3.282 2.1 3.385.9 0 1.7-.308 2.5-.718.4-.206.8-.41 1.2-.718 1.1-1.026 1.7-2.667 2.4-3.898.3-.513.9-2.462 1.4-2.667.6-.308 4.2-3.18 4.2-3.18 1.3-1.026 6.3-4.924 7.6-6.36 2.6-2.256 6.5-5.539 7-5.641.4-.103.6.308.5.615-4.1 7.796-9.7 14.874-15.4 22.259-.4.615.9 2.154 2.1 1.23 6.2-4.615 11.6-14.154 13.5-16.821.5-1.026 8.6-13.13 13.2-19.49l6.3-7.59c1.8-1.641 2.2-1.744 2.7-1.949 2.1-.615 4.4-1.538 6.6-1.846 1.1-.205 4.1-.718 7.5-1.129-.3.616-.4.924-.5 1.026-1.8 3.795-6.7 12.412-8.1 14.873-3.1 5.642-4.7 9.335-8.5 14.669a30.12 30.12 0 0 1-1.7 2.256c-1.8 2.052-2.7 3.59-4.8 5.642-1.6 1.436-3.7 1.949-3.7 4.103 0 .718.7.923 1.4.923 2.9-.205 4-2.154 5.9-4.513 1.7-2.052 2.9-3.078 4.4-5.129 1.1-1.334 2.3-3.282 3.6-4.924 1-1.436 1.8-2.564 2.5-3.795.6.718 1.6.82 2.7.205 2.3-1.128 3.3-2.564 6.4-4.41.3-.206.5-.308.7-.513.5-.308 1.1-.718 1.6-.718.3-.103.6-.205 1-.205 1.1-.206 1.1 3.59 1.1 4.205.2 5.334 1.1 10.77 3.8 15.386 2.4 4.206 7 8.001 12 7.898h.3c2.6-.205 5.5-2.872 8.1-5.333 1.7-1.539 2.5-2.975 4.5-5.232.1-1.025-.6-.41-.6-.41zm-166.8-34.67c1.5-.205 3.2.718 3.4 2.36.6 3.59-6 10.872-9.4 11.385-2.3.41-5-1.641-6.6-3.18 2.1-2.462 9.8-10.052 12.6-10.565zm74.1 42.67c-2.1 1.642-2.6-.615 1.8-2.564-.4.821-1 1.95-1.8 2.565zM240.255 29.429c1 .307 2.4-3.693 2.4-3.693.5-.82 1.8-4.821.5-5.744-.6-.41-1.4-.103-1.9.307-1.3 1.026-2.3 2.873-1.3 5.13 1.3 1.333-1.2 2.871.3 4z', fill='white')
        path(d='M292.755 36.609c-.2-.103-.4 0-.5 0-7.8 2.051-14.3 8.206-22.2 9.744-3.7.718-8.3-.513-7.2-5.23.2-.822 1.2-3.796-.4-3.796-1.4 0-3.3 2.257-4.4 3.18-2.3 1.743-4.5 4.103-7.2 5.128-.1-.41.2-.82.4-1.23.5-.821 1-1.642 1.4-2.462.3-.718.9-1.95.8-2.872 0-.103 0-.206-.1-.308-.4-.82-1.9-1.231-2.7-1.026-3 .513-8.4 5.231-11.5 8.103-.7.513-1.3 1.231-2 1.847-.6.615-2.2 1.846-3.1 1.128-1.2-.923 0-3.692.4-4.82.6-1.642 1.5-3.283 2.3-4.822l.9-1.846c.1-.308.4-.82.3-1.128-.1-.41-.4-.821-.9-.821-.8.102-1.7 2.872-2.2 3.59-1.8 2.667-4 5.436-6.5 7.488-.4.308-1.9 1.333-2.9 2.154-4.5 3.59-9.4 5.744-12.8 6.36-.4.102-2.5.102-2.6-.821-.2-1.334 2.9-2.872 3.7-3.59 3.9-3.385 11.9-6.975 10.9-13.437-.1-.82-1.1-1.642-2.5-1.334-2.3.41-4.5 1.026-6.8 2.872-3.2 2.565-6.3 6.36-7.9 10.36-.5 1.231-1 2.975-1.1 4.103v.103c-3.6 3.693-8.8 6.052-12.4 8.514-.7.41-3.5 1.435-2.4-1.437.9-2.564 1.8-5.128 2.5-6.872 1-4.821 5.7-8.719 9.2-12.309 6-6.36 12.7-12.514 18.1-18.874 1-1.23 11.1-15.078 10.5-18.258-.5-2.462-1.2-4.41-4.4-3.898-9.6 1.642-28.2 34.568-29.1 36.517-1.5 3.18-3.7 7.18-4.9 9.95-.6 1.538-1.8 2.564-3.2 3.692-2.3 1.744-5.1 4-7.6 5.95-.7.615-.1 1.025.6.82l1-.513c.3 0 .7-.41.9-.615.6-.41 1.1-.923 1.7-1.334.6-.513 3.2-3.077 4.1-2.256-1.2 2.872-1.9 6.564-3.1 8.924-.6 1.23-1.9 4.513-1.7 6.051.1.513 0 1.026.6 1.231 1.1.308 2.9-1.436 3.8-2.051.8-.615 1.7-1.231 2.5-1.846 1.3-.924 2.5-1.95 3.8-2.872 1.3-1.026 2.7-1.642 4.2-2.462 2.7-1.539 4.1-2.36 4.5-2.667.7-.616 1.3-1.128 1.7-.718 1 1.23 2.1 1.949 4.4 1.538 6.9-1.128 10.2-4.308 15.6-8.41 1.7-1.232 4-3.078 4.6-3.386-.4 1.95-.5 4-.2 5.95.1.512.7 1.846 1.3 1.743 1.4-.205 2.9-2.974 9.3-8.308 2.2-1.641 4.5-3.18 5.8-3.385.4-.103.9.102 1.2.513.3.513.1 1.026-.2 1.538-1.1 1.847-2.6 3.488-3.7 5.437-.2.308-.6.923-.5 1.333.3 1.847 1.2 1.539 1.7 1.436.8-.102 5.7-4.41 7.6-5.744 1-.718 1.9-1.538 2.8-2.359.8-.615 2-2.154 2.8-.82.7 1.128-.1 3.077.7 4.307 1 1.744 3.3 2.257 5.3 2.257 3.9 0 7.6-1.744 11.1-3.385 5.2-2.462 10.4-5.334 15.6-8 .3-.513.8-1.232.3-1.54zm-82.3 12.514c1.2-3.59 6.6-9.437 9.8-9.95.9-.205 1.5.205 1.6.82.3 1.847-8.6 8.617-10.2 9.54-1.7 1.128-1.2-.41-1.2-.41zm-12.3-6.462c4.3-8.822 8.9-15.079 15-24.208.4-.615 8.8-13.232 13.7-14.053.8-.102.9 1.026 1 1.54.4 2.666-6 11.795-7.1 13.129-4.2 5.436-7.5 8.41-11.6 13.13-3.2 3.794-7.2 7.385-10.4 10.975-.1 0-.8.512-.6-.513z', fill='white')
    .header__head
      h1 История завода: <br> из XIX века до наших дней