.header--home.header--history
  background url('../images/template/header-history.jpg') center 0 no-repeat
  background-size cover
  .header-menu
    .header__head
      margin-top 85px
      position relative
      &:before
        content ""
        width 1px
        height 50px
        background-color $brand-primary
        position absolute
        top -50px
        left 50%
        transform translateX(-50%)
    .header__decor
      height 88px