.navigation
  padding 25px 0px
  border-top 1px solid #EADFD7
  border-bottom 1px solid #EADFD7
  &__right
    text-align right
    float right
    position relative
    &:after
      content url('../images/template/nav_right.svg')
      margin-left 15px
      display inline-block
      vertical-align middle
      opacity 0.8
  &__left
    &:before
      content url('../images/template/nav_left.svg')
      margin-right 15px
      display inline-block
      vertical-align middle
      opacity 0.8

  a
    font-size 20px
    font-family $headings-font-family
    color #CBAB92
    display inline-block
    &:hover
      color $brand-primary
      text-decoration none
      &:after
      &:before
        opacity 1 !important