extends layouts/base

include modules/header/header
include modules/footer/footer-error
include modules/18-plus/18-plus
include modules/modalmenu/modalmenu

block content
  +modalmenu()
  .page.page--home.page--plus18
    .page__header
      +header(class="error")
    .page__body
      +18-plus()

    +footer(class="error")