extends layouts/base
include modules/header/header
include modules/footer/footer
include modules/modalmenu/modalmenu
include modules/fixedmenu/fixedmenu
include modules/about-content/about-content
include modules/about-block/about-block
include modules/about-carousel/about-carousel
include modules/about-slider/about-slider
include modules/about-ex/about-ex
include modules/map/map
include modules/popup/popup
block content
  +modalmenu()
  .page.page--home.page--about
    .page__header
      +header(class="about")
    +fixedmenu()
    .page__body
      +about-content()
    +footer()
    +map()
    +popup()