extends layouts/base

include modules/header/header
include modules/footer/footer-error
include modules/contacts/contacts
include modules/modalmenu/modalmenu
include modules/popup/popup
include modules/map/map

block content
  +modalmenu()
  .page.page--home.page--error
    .page__header
      +header(class="contacts")
    .page__body
      .frame-outer
        .container
          +contacts()

    +footer(class="error")
    +popup()
    +map()