extends layouts/base

include modules/header/header
include modules/footer/footer-error
include modules/error-page/error-page
include modules/modalmenu/modalmenu

block content
  +modalmenu()
  .page.page--home.page--error
    .page__header
      +header(class="error")
    .page__body
      +error-page()

    +footer(class="plus18")