extends layouts/base
include modules/header/header
include modules/footer/footer-history
include modules/modalmenu/modalmenu
include modules/fixedmenu/fixedmenu
include modules/history-content/history-content
include modules/history-all/history-all
include modules/about-block/about-block
include modules/about-slider/about-slider-history
include modules/about-ex/about-ex
include modules/map/map
include modules/popup/popup
block content
  +modalmenu()
  .page.page--home.page--about.page--history
    .page__header
      +header(class="history")
    +fixedmenu()
    .page__body
      +history-content()
    +footer-history()
    +map()
    +popup()