extends layouts/base
include modules/header/header
include modules/footer/footer-home
include modules/footer/footer18
include modules/modalmenu/modalmenu
include modules/fixedmenu/fixedmenu
include modules/home-content/home-content
include modules/map/map
include modules/popup/popup
include modules/mod18/mod18
include modules/18-plus/18-plus
block content
  +modalmenu()
  .page.page--home
    .page__header
      +header(class="home")
    +fixedmenu()
    .page__body
      .frame-outer
        .container
          article.page__content
            +home-content()
    +footer()
    +map()
    +popup()
    +mod18()