extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/description/description
include modules/footer/footer
include modules/popup/popup

block content
  +modalmenu()
  .page
    .page__header
      +header()
    .page__body
      .frame-outer
        .container
          article.page__content
            .page-header
              h1.
                Список страниц


            ul
              li
                a(href="textpage.html") Текстовая страница 1 вариант (светлий шапк)
              li
                a(href="textpage2.html") Текстовая страница 2 вариант (темний шапк)
              li
                a(href="products.html") Каталог продуктов
              li
                a(href="product.html") Страница продукта
              li
                a(href="home.html") Главная
              li
                a(href="about.html") О компании
              li
                a(href="history.html") История
              li
                a(href="error.html") Страница ошибки
              li
                a(href="contacts.html") Контакты

    +footer()
    +popup()