extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/productmenu/productmenu
include modules/product-list/product-list
include modules/footer/footer
include modules/popup/popup
block content
  +modalmenu()
  .page.page--products
    .page__header
      +header()
    .page__body
      .frame-outer
        .container
          article.page__content
            .product#product
              .page-header
                h1.products-head Наша продукция

              +productmenu([{"name": "Пиво", "link": "products.html#product", "current": "true"},{"name": "Вода питьевая", "link": "products-water.html#product", "current": "false"},{"name": "Безалкогольные напитки", "link": "products-nonalc.html#product", "current": "false"}])
              .products-loader
                .row
                  .col-md-6
                    .product__img.hidden-xs.hidden-sm
                      img.img-responsive(src="dest/images/content/products_beer_item_concept.png", alt="")
                  .col-md-6
                    .products__listing
                      .description__head
                        h2 Выберите сорт
                      +product-list([
                                      {
                                        "name" :" «Поручик Ржевский»",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«Поручик Ржевский» Барное",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«Поручик Ржевский» Бархатное",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Жигулевское",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Эрнст Клейн",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"Баварское",
                                        "link": "product.html"
                                      }

                                    ])


    +footer()
    +popup()