extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/description/description
include modules/navigation/navigation
include modules/footer/footer
include modules/popup/popup
block content
  +modalmenu()
  .page.page--products
    .page__header
      +header()
    .page__body
      .frame-outer
        .container
          article.page__content
            .product
              .row
                .col-md-6
                  h2.product__name.visible-xs «Порутчик Ржевский» Бархатное
                  .product__subname.visible-xs Темное фильтрованное пиво
                  .product__img
                    img.img-responsive(src="dest/images/content/products_beer_item_concept.png", alt="")
                .col-md-6
                  .product__description
                    +description()
              .product__footer
                +navigation()

    +footer()
    +popup()