extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/productmenu/productmenu
include modules/product-list/product-list
include modules/footer/footer
include modules/popup/popup
block content
  +modalmenu()
  .page.page--products
    .page__header
      +header()
    .page__body
      .frame-outer
        .container
          article.page__content
            .productt#product
              .page-header
                h1.products-head Наша продукция

              +productmenu([{"name": "Пиво", "link": "products.html#product", "current": "false"},{"name": "Вода питьевая", "link": "products-water.html#product", "current": "true"},{"name": "Безалкогольные напитки", "link": "products-nonalc.html#product", "current": "false"}])
              .products-loader
                .row
                  .col-md-6
                    .product__img.hidden-xs.hidden-sm
                      img.img-responsive(src="dest/images/content/products_beer_item_concept.png", alt="")
                  .col-md-6
                    .products__listing
                      .description__head
                        h2 Выберите воду
                      +product-list([
                                      {
                                        "name" :"«La Viena» газированная",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«La Viena» негазированная",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«La Viena» минеральная газированная",
                                        "link": "product.html"
                                      },
                                      {
                                        "name" :"«La Viena» минеральная негазированная",
                                        "link": "product.html"
                                      }
                                    ])
    +footer()
    +popup()