extends layouts/base
include modules/header/header
include modules/modalmenu/modalmenu
include modules/description/description
include modules/footer/footer
include modules/popup/popup
block content
  +modalmenu()
  .page.page--products
    .page__header
      +header(class="dark")
    .page__body
      .frame-outer
        .container
          article.page__content
            .page-header
              h1.
                Вековые традиции
                ржевских пивоваров
            h2.
              Пиво-медоваренный
              завод Эрнста Клейна
            p.
              В 1872 году Эрнст Михайлович Клейн основал во Ржеве пиво-медоваренный завод. Больше 140 лет местные пивовары продолжают его дело, бережно сохраняя традиции пивоварения, потчуют земляков и гостей города своими напитками.
            h3.
              По вопросам приобретения  продукции обращаться:
            p.text-primary.
              Осенью 1871 года прусский поданный Эрнст Михайлович Клейн приобрел имение на Князь-Дмитриевской стороне Ржева. Оно состояло из двух мест земли, каждое из которых было примерно 64 метра в длину и 21 метр в ширину, с деревянным домом, надворными постройками и амбарами.
            p.text-primary.
              А уже 13 мая 1872 года гражданин В.Я. Колберг (по доверенности) просил в городской управе разрешить строительство пивоваренного завода  в этом квартале. Именно 1872-й год можно считать годом рождения пиво-медоваренного завода, который изначально носил название «Бавария». Он отмечен на бланке завода вместе с девизом: «Союзом любви, труда и соревнований связуем!»
            button.btn.btn-primary.btn-lg Познакомиться ближе
            button.btn.btn-default.btn-lg Отправить заявку
            p
            .row
              .col-md-push-6.col-md-6
                +description()
    +footer()
    +popup()